@import './utility.scss';
@import './variables.scss';

$primary: $primary_brand;
$secondary: #10C99C;
$danger: #f56c6c;

.fc-primary { color: $primary; }
.fc-white { color: white; }

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-size: 1rem;
}

.header {
  font-weight: normal;
  margin-top: 0;
}

.wrapper {
  min-height: calc(100vh - 148px);
  margin-top: 148px;
  padding: 2rem 0;
}

.margin-navbar {
  margin-top: 84px !important;
}

.side-navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 78px;
}
.auth-container {
  /* width: calc(100% - 15rem); */
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #F0F4FA;
  background-image: url("../assets/bg.svg");
  background-size: 15%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .el-button+.el-button { margin-left: 0; }

  .social-links {
    position: relative;
    z-index: 1;
    margin-bottom: -2rem;

    i {
      cursor: pointer;
      margin: 0 1rem;
      color: white;
      font-size: 1.25rem;
    }
    i:hover {
      color: #67ede6;
    }
  }
}
.auth-card-holder{
  width: 480px;
  max-width: 90%;

  .logo {
    margin-top: 1rem;
  }

  .logo-bg {
    position: absolute;
    width: 110%;
    height: 13rem;
    left: -1rem;
    top: -2rem;
    background: $primary;
    transform: rotate(8deg);
    z-index: 0;
  }
  
  .footer-bg {
    position: absolute;
    left: -4rem;
    bottom: -4rem;
    width: 132%;
    height: 7rem;
    background: $primary;
    transform: rotate(8deg);
    z-index: 0;
  }

  .el-card { position: relative; }
  .el-card__header { padding: 0; }
  .el-card__body { position: relative; }
  .el-form { margin-top: 6rem;  margin-bottom: 6rem;}

  .el-button--primary {
    background: $primary;
    border-color: $primary;
  }

  .el-button--primary:active, .el-button--primary:hover, .el-button--primary:focus {
    background: $primary;
    border-color: $primary;
    box-shadow: 0 2px 12px 0px $primary;
  }
}
.container {
  /* width: calc(100% - 15rem); */
  width: 75%;
  height: 100%;
  margin: auto;
  min-height: calc(100vh - 150px);
}

.container-tab {
  max-width: 700px;
  width: 90%;
  margin: auto;
}

.info-box {
  max-width: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  img {
    width: 16rem;
  }
}

.logo.vertical {
  flex-direction: column;
  .icon {
    min-width: 2rem;
    min-height: 2rem;
    margin-right: 0;
    margin-bottom: 0.5rem;
    padding: 1rem 1.5rem 1rem 1.3rem;
    background: white;
    border-radius: 50%;
    box-shadow: 0 4px 30px 2px rgba(14, 93, 201, 0.2);

    i { font-size: 2.5rem; }
  }
}

.el-card {
  border-radius: 1rem;
  box-shadow: 0 2px 100px 0 rgba(0,0,0,.1) !important;

  .el-card__header * {
    font-weight: normal;
  }
}

.el-card.padded {
  padding: 3rem;

  .el-card__body { padding: 0; }
}

.el-card.table {
  padding: 0;
  .el-card__body { padding: 0; }

  .el-table {
    th>.cell {
      padding: 1rem 2rem 1rem;
      font-weight: normal;
      color: black;
    }

    .cell {
      padding: 0 2rem;
    }

    .status {
      .success { color: #0EC99B; }
      .error { color: #f56c6c; }
    }

   .action-button {
      padding: 5px;
      border: none;
      background: none !important;
    }

    i { font-size: 1.25rem; }
  }
}

.el-form {
  .el-form-item {
    text-align: left;

    .el-form-item__label {
      color: $primary;
      font-size: 0.9rem;
      text-transform: uppercase;
      width: 100%;
      text-align: left;
    }
  }
  .el-form-item.is-required {
    .el-form-item__label {
      &:before {
        content: none;
      }

      &:after {
        content: '*';
        color: $danger;
        margin-left: 4px;
      }
    }
  }
}

.el-table {
  .el-table thead {
    text-transform: uppercase;
  }

  tbody {
    tr:last-child td {
      border-bottom: 0;
    }

    tr.el-table__row:hover {
      box-shadow: 0px 0px 25px 0px rgba(125,138,159,0.5);
    }
  }

  th,tr {
    background: transparent;
  }
}
.el-table::before {
  content: none;
}

.el-button {
  font-size: 1rem;
  overflow: hidden;

  .el-loading-spinner .circular {
    width: 30px;
    height: 30px;
  }
}

.el-button.large {
  font-size: 1.15rem;
  height: auto;
  padding: 0.8rem 3rem;
  border-radius: 2rem;

  .el-loading-mask {
    border-radius: 2rem;
  }

  .el-loading-spinner {
    margin-top: -15px;
  }
}

.el-button--primary {
  background: $primary_button;
  border-color: $primary_button;

  &:active, &:hover, &:focus {
    background: $primary_button;
    border-color: $primary_button;
    box-shadow: 0 2px 12px 0px #0E5DC9;
  }
}
.el-button--primary.shadow {
  box-shadow: 0 2px 12px 0px #0E5DC9;
}

.el-button--secondary {
  color: white;
  background: $secondary;
  border-color: $secondary;

  &:active, &:hover, &:focus {
    color: white;
    background: $secondary;
    border-color: $secondary;
  }
}

.el-button--small {
  font-size: 0.9rem;
  padding: 9px 18px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

:focus {
  outline: none;
}

@import './responsive.scss';
