page-login{
  .login-page{
    max-height: 100vh;
    height: 100vh;
    background: #002d7b;

    .logo{
      width: 215px;
      margin-bottom: 2rem;
    }
    .centered-section{
      position: absolute;
      width: 100%;
      top: 40%;
      transform: translateY(-40%);
      .card-content{
        padding: 24px;
        ion-input{
          border-radius: 5rem;
        }
        h2{
          color: #002d7b;
          position: relative;
          font-size: 2rem;
          font-weight: bold;
          margin: 0px 0px 2.5rem;
          text-transform: uppercase;
        }
        .button{
          width: 100%;
          background: #002d7b;
        }
      }
    }
    .lower-page{
      max-height: 50vh;
      height: 50vh;
    }
  }
}