<ion-content text-center class="login-page">
  <div>
    
  </div>
  <div padding class="centered-section">
    <img class="logo" src="assets/imgs/logoo.png">
    <ion-card>
      <ion-card-content>
        <h2>SIGN IN TO CONTINUE</h2>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
        <ion-input type="text" placeholder="Private key" [(ngModel)]="privateKey" *ngIf="!hasWallet"></ion-input>
        <button ion-button round (click)="continue()">Sign In</button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>