<template>
  <div class="auth-container forgot-page">
    <div class="auth-card-holder t-c">
      <el-card class="padded">
        <h1 class="m-b-0">Forgot your password ?</h1>
        <p class="m-t-0">Enter your registered email address below to get reset link.</p>

        <el-form ref="form" :rules="rules" :model="user">
          <el-form-item label="Email" prop="email">
            <el-input type="email" v-model="user.email" placeholder="Enter your email"></el-input>
          </el-form-item>
          <el-form-item></el-form-item>
          <el-row class="t-c">
            <el-button type="primary" round class="full-width" @click="onSubmit" id="submit-button">Request Reset Link</el-button>
            <el-button type="plain" round class="full-width m-t" @click="login()">Back to Login</el-button>
          </el-row>
        </el-form>
      </el-card>
    </div>
  </div>
</template>
<script>
import validationRules from '@/shared/validations'

export default {
  name: 'Forgot-Page',
  data: function () {
    return {
      user: {},
      rules: validationRules
    }
  },
  methods: {
    onSubmit: function () {
      this.$refs['form'].validate(valid => {
        if (valid) {
          let user = { ...this.user }
          this.$store.dispatch('forgot', [user, {show_loading: true, fullscreen: false, target: '#submit-button'}]).then((resp) => {
            if(resp.success) {
              this.showSuccess('Reset link has been sent to the provided email.')
            } else {
              this.showError('Email not found. Make sure your email is already registered.')
            }
          })
        }
      })
    },
    login: function () {
      this.$router.push('/auth/signin')
    }
  }
}
</script>
<style lang="scss">
.forgot-page {
  .auth-card-holder .el-form {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
</style>
