<template>
  <div class="auth-container signin-page">
    <div class="auth-card-holder t-c">
      <el-card class="padded">
        <div slot="header" class="clearfix">
          <div class="logo-bg"></div>
        </div>

        <div class="logo">
          <img src="../../assets/logo.png">
        </div>
        <el-form ref="form" :rules="rules" :model="user">
          <el-form-item label="Email" prop="email">
            <el-input type="email" v-model="user.email" placeholder="Enter your email"></el-input>
          </el-form-item>
          <el-form-item label="Password" prop="password">
            <el-input type="password" v-model="user.password" placeholder="Enter password"></el-input>
          </el-form-item>
          <el-form-item>
            <div class="t-r">
              <router-link to="/auth/forgot">Forgot Password ?</router-link>
            </div>
          </el-form-item>
          <el-row class="t-c">
            <el-button type="primary" round class="full-width" @click="onSubmit" id="submit-button">Login</el-button>
            <el-button type="plain" round class="full-width m-t" @click="register()">Register</el-button>
          </el-row>
        </el-form>
        <el-row class="social-links">
        </el-row>
        <div class="footer-bg"></div>
      </el-card>
    </div>
  </div>
</template>
<script>
import validationRules from '@/shared/validations'
export default {
  name: 'Signin-Page',
  data: function () {
    return {
      user: {},
      rules: validationRules
    }
  },
  methods: {
    onSubmit: function () {
      this.$refs['form'].validate(valid => {
        if (valid) {
          let user = { ...this.user }
          this.$store.dispatch('signin', [user, {show_loading: true, fullscreen: false, target: '#submit-button'}]).then((user) => {
            console.log('Login')
            console.log(user)
            this.$router.push('/dashboard')
          })
        }
      })
    },
    register: function () {
      this.$router.push('/auth/signup')
    }
  }
}
</script>
