<template>
  <div class="auth-container signup-page">
    <div class="auth-card-holder t-c">
      <el-card class="padded">
        <div slot="header" class="clearfix">
          <div class="logo-bg"></div>
        </div>

        <div class="logo">
          <img src="../../assets/logo.png">
        </div>

        <el-form ref="form" :rules="rules" :model="user">
          <el-form-item label="Name" prop="name">
            <el-input type="text" v-model="user.name" placeholder="Enter your name"></el-input>
          </el-form-item>
          <el-form-item label="Email" prop="email">
            <el-input type="email" v-model="user.email" placeholder="Enter your email"></el-input>
          </el-form-item>
          <el-form-item label="Password" prop="password">
            <el-input type="password" v-model="user.password" placeholder="Enter password"></el-input>
          </el-form-item>
          <div class="t-l">
            <el-checkbox v-model="checked">I agree to all <a href="#">Terms & Conditions</a></el-checkbox>
          </div>
          <el-form-item></el-form-item>
          <el-row class="t-c">
            <el-button type="primary" round class="full-width" @click="onSubmit" id="submit-button">Register</el-button>
            <el-button type="plain" round class="full-width m-t" @click="login()">Login</el-button>
          </el-row>
        </el-form>
        <el-row class="social-links">
          <i class="fab fa-facebook" @click="openLink('https://www.facebook.com/blockarray')"></i>
          <i class="fab fa-twitter" @click="openLink('https://www.twitter.com/blockarraygroup')"></i>
          <i class="fab fa-google-plus-g" @click="openLink('https://www.googleplus.com/blockarray')"></i>
        </el-row>
        <div class="footer-bg"></div>
      </el-card>
    </div>
  </div>
</template>
<script>
import validationRules from '@/shared/validations'

export default {
  name: 'Signup-Page',
  data: function () {
    // var validateConfirmPassword = (rule, value, callback) => {
    //   if (value !== this.user.password) {
    //     callback(new Error('Password not match'))
    //   }
    //   callback()
    // }
    return {
      user: {},
      checked: false,
      rules: validationRules
    }
  },
  methods: {
    onSubmit: function () {
      this.$refs['form'].validate(valid => {
        if (valid) {
          console.log(this.user)
          let user = { ...this.user }
          this.$store.dispatch('signup', [user, {show_loading: true, fullscreen: false, target: '#submit-button'}]).then((user) => {
            console.log('Registered')
            console.log(user)
            this.$router.push('/dashboard')
          })
        }
      })
    },
    login: function () {
      this.$router.push('/auth/signin')
    }
  }
}
</script>
