<template>
  <el-dialog
    :title="new_address._id ? 'Update Address': 'Add New Address'"
    :visible.sync="dialogVisible"
    @open="handleOpen"
    :before-close="onCancel">

    <el-form ref="form" :rules="rules" :model="new_address" :label-position="'top'">
      <el-form-item prop="name" label="Name">
        <el-input type="text" v-model="new_address.name" placeholder="XYZ's Address"></el-input>
      </el-form-item>
      <el-form-item prop="address" label="Address">
        <el-input type="text" v-model="new_address.address" placeholder="Enter address"></el-input>
      </el-form-item>
      <el-row class="t-r">
        <el-button @click="onCancel">Cancel</el-button>
        <el-button type="primary" @click="onSubmit" id="submit-button">Save Changes</el-button>
      </el-row>
    </el-form>

    <!-- <span slot="footer" class="dialog-footer">
      <el-button @click="dialogVisible = false">Cancel</el-button>
      <el-button type="primary" @click="dialogVisible = false">Confirm</el-button>
    </span> -->
  </el-dialog>
</template>

<script>
import resourceService from '@/services/ResourceService'
export default {
  name: 'AddAddressDialog',
  data: function () {
    return {
      new_address: {},
      rules: {
        name: {
          required: true,
          message: 'Address name is required'
        },
        address: {
          required: true,
          message: 'Address is required'
        }
      }
    }
  },
  props: ['dialogVisible', 'address'],
  methods: {
    handleOpen: function () {
      if (this.address) {
        this.new_address = {...this.address}
      }
    },
    handleClose: function () {
      this.new_address = {}
      this.$refs['form'].resetFields()
    },
    onCancel: function () {
      this.$emit('close')
      this.handleClose()
    },
    onSubmit: function () {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          if (!this.new_address._id) {
            resourceService.addResource('address', {...this.new_address}, {
              show_loading: true,
              fullscreen: false,
              target: '#submit-button'
            }).then(resp => {
              this.showSuccess('Address added successfully')
              this.$emit('close')
              this.handleClose()
            })
          } else {
            resourceService.updateResource('address', {...this.new_address}).then(resp => {
              this.showSuccess('Address updated successfully')
              this.$emit('close')
              this.handleClose()
            })
          }
        }
      })
    }
  }
}
</script>
