<template>
  <el-dialog
    :title="new_app._id ? 'Update Application': 'Add New Application'"
    :visible.sync="dialogVisible"
    @open="handleOpen"
    :before-close="onCancel">

    <el-form ref="form" :rules="rules" :model="new_app" :label-position="'top'">
      <el-form-item prop="name" label="Name">
        <el-input type="text" v-model="new_app.name" placeholder="Enter application name"></el-input>
      </el-form-item>
      <el-form-item prop="url" label="Application URL">
        <el-input type="text" v-model="new_app.url" placeholder="Enter application url"></el-input>
      </el-form-item>
      <el-form-item prop="image" label="Application Icon">
        <el-upload
          :action="upload_url"
          :headers="header"
          list-type="picture-card"
          :limit="1"
          :multiple="false"
          :on-success="onSuccess"
          :on-remove="onRemove" ref="upload-image">
          <img v-if="new_app.image" :src="api_url + new_app.image" class="avatar image" id="avatar-img">
          <i v-else class="el-icon-plus"></i>
        </el-upload>
      </el-form-item>
      <el-row class="t-r">
        <el-button @click="onCancel">Cancel</el-button>
        <el-button type="primary" @click="onSubmit" id="submit-button">Save Changes</el-button>
      </el-row>
    </el-form>

    <!-- <span slot="footer" class="dialog-footer">
      <el-button @click="dialogVisible = false">Cancel</el-button>
      <el-button type="primary" @click="dialogVisible = false">Confirm</el-button>
    </span> -->
  </el-dialog>
</template>

<script>
import resourceService from '@/services/ResourceService'
import userService from '@/services/UserService'
export default {
  name: 'AddApplicationDialog',
  data: function () {
    return {
      new_app: {},
      api_url: process.env.API_URL,
      upload_url: process.env.API_URL + '/upload',
      header: {
        Authorization: `Basic ${userService.token}`
      },
      rules: {
        name: {
          required: true,
          message: 'Application name is required'
        },
        url: {
          required: true,
          message: 'Application URL is required'
        }
      }
    }
  },
  props: ['dialogVisible', 'application'],
  methods: {
    handleOpen: function () {
      if (this.application) {
        this.new_app = {...this.application}
      }
    },
    handleClose: function () {
      this.new_app = {}
      this.$refs['form'].resetFields()
      this.$refs['upload-image'].clearFiles()
      this.onRemove()
    },
    onSuccess: function (response, file, fileList) {
      if (file && file.response && file.response.file_path) {
        this.$emit('onSuccess', file.response.file_path)
        this.new_app.image = file.response.file_path
      }
      let uploadCard = document.getElementsByClassName('el-upload--picture-card')
      if (uploadCard && uploadCard[0]) {
        uploadCard[0].style.display = 'none'
      }
    },
    onRemove: function () {
      let uploadCard = document.getElementsByClassName('el-upload--picture-card')
      if (uploadCard && uploadCard[0]) {
        uploadCard[0].style.display = 'inline-block'
      }
    },
    onCancel: function () {
      this.$emit('close')
      this.handleClose()
    },
    onSubmit: function () {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          if (!this.new_app._id) {
            resourceService.addResource('application', {...this.new_app}, {
              show_loading: true,
              fullscreen: false,
              target: '#submit-button'
            }).then(resp => {
              this.showSuccess('Application added successfully')
              this.$emit('close')
              this.handleClose()
            })
          } else {
            resourceService.updateResource('application', {...this.new_app}).then(resp => {
              this.showSuccess('Application updated successfully')
              this.$emit('close')
              this.handleClose()
            })
          }
        }
      })
    }
  }
}
</script>

<style>
.avatar.image {
  width: 140px;
  height: 140px;
  object-fit: contain;
}
</style>
