<template>
  <el-dialog
    title="Deploy Contract"
    :visible.sync="dialogVisible"
    @open="handleOpen"
    :before-close="onCancel">

    <p class="m-b">Address</p>
    <el-input type="text" v-model="address" placeholder="From Address" readOnly class="m-b-2"></el-input>

    <el-form ref="form" :rules="rules" :model="contract" :label-position="'top'">
      <el-form-item prop="abi" label="Contract ABI/JSON">
        <el-input type="textarea" v-model="contract.abi" placeholder="Contract ABI interface" :autosize="{ minRows: 4, maxRows: 8}" @input="formatContractABI"></el-input>
      </el-form-item>
      <el-form-item prop="byte_code" label="Contract Byte Code">
        <el-input type="textarea" v-model="contract.byte_code" placeholder="Contract Bytecode" :autosize="{ minRows: 4, maxRows: 8}" @input="getEstimatedGas"></el-input>
      </el-form-item>
      <el-form-item prop="gas_limit" label="Gas Limit" v-loading="loading">
        <el-input type="number" v-model="contract.gas_limit" placeholder="Enter gas limit" min="2100">
          <template slot="append">Units</template>
        </el-input>
      </el-form-item>
      <el-form-item prop="gas_price" label="Gas Price"  v-loading="loading">
        <el-input type="number" v-model="contract.gas_price" placeholder="Enter gas price" min="0">
          <template slot="append">Wei</template>
        </el-input>
      </el-form-item>
      <el-row class="t-r m-t-2">
        <el-button @click="onCancel">Cancel</el-button>
        <el-button type="primary" @click="onSubmit" :disabled="deploying" v-loading="deploying">Submit</el-button>
      </el-row>
    </el-form>

  </el-dialog>
</template>

<script>

import web3Service from '@/services/Web3Service'
import resourceService from '@/services/ResourceService'

export default {
  name: 'DeployContractDialog',
  data: function () {
    var validateGasLimit = (rule, value, callback) => {
      if (value < 2100) {
        callback(new Error('Gas limit should be greater than 2100'))
      }
      callback()
    }
    return {
      loading: false,
      deploying: true,
      contract: {
        byte_code: '',
        gas_price: 0,
        gas_limit: 0
      },
      rules: {
        byte_code: {
          required: true,
          message: 'Contract byte code is required'
        },
        abi: {
          required: true,
          message: 'Contract ABI/JSON is required'
        },
        gas_limit: [
          {
            required: true,
            message: 'Gas limit is required'
          },
          {
            validator: validateGasLimit
          }
        ],
        gas_price: {
          required: true,
          message: 'Gas price is required'
        }
      }
    }
  },
  props: ['dialogVisible', 'address'],
  methods: {
    handleOpen: function () {
      this.deploying = false
      this.getGasPrice()
    },
    handleClose: function () {
      this.$refs['form'].resetFields()
    },
    onCancel: function () {
      this.$emit('close')
      this.handleClose()
    },
    getGasPrice: function () {
      web3Service.getGasPrice().then(resp => {
        this.contract.gas_price = resp
      })
    },
    getEstimatedGas: function () {
      this.loading = true
      web3Service.getEstimatedGas(this.contract.byte_code).then(resp => {
        this.loading = false
        this.contract.gas_limit = resp
      }, error => {
        console.log(error)
        this.showError('Invalid contract byte code')
      })
    },
    formatContractABI: function () {
      this.contract.abi = this.contract.abi.replace(/(\r\n\t|\n|\r\t)/gm, '')
      this.contract.abi = this.contract.abi.replace(/\s+/g, '')
    },
    onSubmit: function () {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          if (!this.address) {
            this.showError('No wallet address found')
          } else {
            this.deploying = true
            this.deployContract()
          }
        }
      })
    },

    deployContract: function () {
      let transaction = {
        from: this.address,
        gas: this.contract.gas_limit + 1000,
        gasPrice: this.contract.gas_price,
        data: this.contract.byte_code
      }
      web3Service.sendTransaction(transaction).then(transactionHash => {
        console.log('transactionHash', transactionHash)
        this.getTransactionReceipt(transactionHash)
      })
    },

    getTransactionReceipt: function (transactionHash) {
      web3Service.getTransactionReceipt(transactionHash).then(receipt => {
        console.log('receipt', receipt)
        if (receipt) {
          this.saveRecord(receipt)
        } else {
          setTimeout(() => {
            this.getTransactionReceipt(transactionHash)
          }, 5000)
        }
      })
    },
    saveRecord: function (receipt) {
      if (receipt) {
        resourceService.addResource('contract', {
          address: receipt.contractAddress,
          tx_hash: receipt.transactionHash,
          abi: JSON.stringify(this.contract.abi),
          deploy_type: 'app'
        }).then(resp => {
          // this.saveContractABI(resp)
          this.deploying = false
          this.onCancel()
        }, error => {
          this.deploying = false
          console.log(error)
          // this.showError(error)
        })
      } else {
        this.showError('Transaction Receipt not found. Please try again.')
      }
    },
    saveContractABI: function (contract) {
      web3Service.saveData(contract._id, this.contract.abi)
      this.deploying = false
      this.onCancel()
    }
  }
}
</script>
