<template>
  <div class="navbar p">
    <el-menu mode="horizontal">
      <el-row type="flex" justify="end" align="middle">
        <div class="logo">
          <div class="icon">
            <i class="fab fa-google-wallet"></i>
          </div>
          <div>
            Enterprise <b>Wallet</b>
          </div>
        </div>
        <el-menu-item>
          <a @click="openMetamask">{{network}}</a>
        </el-menu-item>
        <el-submenu index="2">
          <template slot="title">
            <!-- <h3 class="m-0"><i class="fas fa-user-circle"></i>{{name}}</h3> -->
            <span class="uppercase user-initials">{{name.charAt(0) + name.charAt(1)}}</span>
          </template>
          <el-menu-item-group>
            <!-- <span slot="title">Hello {{name}}</span> -->
            <el-menu-item index="2-1" @click="gotoProfilePage">My Profile</el-menu-item>
            <el-menu-item index="2-2" @click="logout">Logout</el-menu-item>
          </el-menu-item-group>
        </el-submenu>
      </el-row>
    </el-menu>
    <div>
    <!-- <h1 class="m-0 t-c">
      <span class="m-l-2">Enterprise Wallet</span>
      <el-button type="secondary" class="f-r m-r-2" @click="openMetamask">Change Network RPC</el-button>
    </h1> -->
    </div>
  </div>
</template>

<script>
import web3Service from '@/services/Web3Service'
import userService from '@/services/UserService'
export default {
  name: 'Navbar',
  data: function () {
    return {
      web3: web3Service,
      user: userService,
      initials: 'UK'
    }
  },
  computed: {
    name: function () {
      return this.user.user.name
    },
    network: function () {
      return this.web3.network
    }
  },
  methods: {
    openMetamask: function () {
      web3Service.openMetamaskPopup()
    },
    gotoProfilePage: function () {
      this.$router.push('/dashboard/profile')
    },
    logout: function () {
      userService.logout()
      this.$router.push('/auth/login')
    }
  }
}
</script>

<style lang="scss">
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background: white;
  box-sizing: border-box;

  .logo {
    flex-grow: 1;
    text-align: left;
    margin: 0;
    padding: 0 20px;
  }

  .user-initials {
    padding: 1rem 1.15rem;
    background: #64B5F6;
    color: white;
    border-radius: 50%;
    font-size: 1.25rem;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      border: 2px solid #FFFFFF;
      background-color: #0EC99B;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
    }
  }

  li[role=menuitem] {
    border-left: 1px solid #f5f3f3
  }

  .el-menu {
    background: transparent;
    border-bottom: none !important;

    .el-menu-item-group__title {
      padding: 14px 10px 10px;
      text-transform: uppercase;

      span {
        font-weight: bold;
        font-size: 1rem;
      }
    }

    .el-submenu__icon-arrow {
      display: none;
    }

    .el-submenu__title {
      i {
        margin-right: 8px;
      }
    }

    .el-submenu__title:hover, .el-menu-item:hover {
      background-color: transparent;
    }

    a {
      text-decoration: none;
      font-size: 1rem;
    }
  }
}
</style>
