<template>
  <div class="side-navbar" :class="{'collapse': isCollapse}">
    <div class="p-2 toggle-collapse">
      <i class="fas fa-align-right fc-white" @click="toggleCollapse"></i>
    </div>
    <el-menu :default-active="default_active" :collapse="isCollapse" class="el-menu-vertical-demo" :router="true">
      <el-menu-item index="/dashboard/index" @click="setDefaultActive('/dashboard/index')">
        <i class="far fa-chart-bar"></i>
        <span slot="title">Dashboard</span>
      </el-menu-item>
      <el-menu-item index="/dashboard/info" @click="setDefaultActive('/dashboard/info')">
        <i class="far fa-credit-card"></i>
        <span slot="title">{{isCollapse ? 'Wallet' : 'Wallet Info'}}</span>
      </el-menu-item>
      <el-menu-item index="/dashboard/addresses" @click="setDefaultActive('/dashboard/addresses')">
        <i class="far fa-address-book"></i>
        <span slot="title">{{isCollapse ? 'Addresses'  : 'Address Book'}}</span>
      </el-menu-item>
      <el-menu-item index="/dashboard/applications" @click="setDefaultActive('/dashboard/applications')">
        <i class="fas fa-desktop"></i>
        <span slot="title">Applications</span>
      </el-menu-item>
      <el-menu-item index="/dashboard/transfer" @click="setDefaultActive('/dashboard/transfer')">
        <i class="far fa-share-square"></i>
        <span slot="title">{{isCollapse ? 'Transfer' : 'Send / Transfer'}}</span>
      </el-menu-item>
      <el-menu-item index="/dashboard/deploy" @click="setDefaultActive('/dashboard/deploy')">
        <i class="fas fa-list"></i>
        <span slot="title">{{isCollapse ? 'Deploy' : 'Deployed Contracts'}}</span>
      </el-menu-item>
      <el-menu-item index="/dashboard/interact" @click="setDefaultActive('/dashboard/interact')">
        <i class="far fa-hand-pointer"></i>
        <span slot="title">{{isCollapse ? 'Interact' : 'Interact with Contract'}}</span>
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script>
export default {
  name: 'Side-Navbar',
  data: function () {
    return {
      isCollapse: false,
      default_active: '/dashboard/index'
    }
  },
  methods: {
    toggleCollapse: function () {
      this.isCollapse = !this.isCollapse
      window.bus.$emit('sidenav-collapse', this.isCollapse)
    },
    setDefaultActive: function (state) {
      this.default_active = state
    }
  }
}
</script>

<style lang="scss">
.side-navbar {
  background: #313540;
  transition: width 0.25s linear;
  .avatar {
    position: relative;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
    margin: -3.5rem auto 2rem;
    background: transparent;

    img {
      width: 4rem;
      height: 4rem;
      margin: 1.5rem;
    }
  }
  .el-menu {
    height: 100%;
    text-align: left;
    border-right: 0;
    background: transparent;
    transition: unset !important;

    .el-menu-item, .el-submenu__title {
      font-size: 1rem;
      height: auto;
      line-height: normal;
      padding: 1.25rem 2.5rem !important;
      color: #c8c8c8;

      i {
        color: #c8c8c8;
        width: auto;
        margin-right: 10px;
      }
    }

    .el-menu-item.is-active, .el-menu-item:hover, .el-submenu__title:hover {
      background-color: #256dfb;
      color: #fff;

      i { color: #fff; }
    }
  }

  .toggle-collapse {
    text-align: right;
    i {
      cursor: pointer;
    }
  }

  .el-tooltip {
    position: relative !important;
    padding: 0 !important;
  }
}

.side-navbar.collapse {
  width: 8rem;

  .toggle-collapse {
    text-align: center;
  }

  .el-menu {
    width: auto;

    .el-menu-item {
      text-align: center;
      i {
        margin-right: 0;
      }
      span {
        display: none;
      }
    }
  }

  .el-tooltip {
    position: relative !important;
    padding: 0 !important;
  }
}
</style>
