<template>
  <el-dialog
    title="EDI Credits"
    custom-class="allowance-dialog"
    :visible.sync="dialogVisible"
    @open="handleOpen"
    v-loading="loading"
    :before-close="onCancel">

    <el-form ref="form" :rules="rules" :model="form" :label-position="'top'">
      <p>
        Freight Trust needs approval to make payment on your behalf. Fixed Excange {{rate}} of EDI tokens.
      </p>
      <el-form-item prop="allowance" justify="center">
        <div class="t-c m-t-2" >
          <el-input-number style="width: 350px" v-model="form.allowance" @change="updateDescription" controls-position="right" :min="rate" :step="rate"></el-input-number>
          <!-- <el-button type="primary" class="m-l" round size="mini">Max</el-button> -->
          <div class="m-t">
            <el-tag type="success">{{description}}</el-tag>
          </div>
        </div>
      </el-form-item>
      <el-row class="t-c">
        <!-- <el-button @click="onCancel">Cancel</el-button> -->
        <el-button type="primary" @click="onSubmit" id="submit-button">Credits</el-button>
      </el-row>
    </el-form>
  </el-dialog>
</template>

<script>
import salesService from '@/services/salesService'

export default {
  name: 'AllowanceDialog',
  data: function () {
    return {
      form: {
        allowance: this.rate
      },
      description: '',
      company: {},
      loading: false,
      rules: {
        allowance: {
          required: true,
          message: 'Credits is required'
        }
      }
    }
  },
  props: ['dialogVisible', 'rate'],
  mounted: function () {
    this.company = this.$store.getters.company
    this.updateDescription()
  },
  methods: {
    handleOpen: function () {
      
    },
    handleSubmit: function (resp) {
      this.$emit('submit', true)
      this.$emit('close');
      this.handleClose();
    },
    handleClose: function () {
      this.$refs['form'].resetFields()
    },
    onCancel: function () {
      this.$emit('close')
      this.handleClose()
    },
    onSubmit: function () {
      let spender = process.env.VUE_APP_FREIGHT_TRUST_SALE_CONTRACT
      this.loading = true
      salesService.approveSpender(spender, this.form.allowance).then(resp => {
        this.loading = false
        if (resp && resp.status == true) {
          this.handleSubmit(true);
        } 
      }).catch(error => {
        this.handleSubmit(false);
      })
    },
    updateDescription: function () {
      this.description = 'You can apply for ' + (this.form.allowance  / this.rate) + ' licenses'
    }
  }
}
</script>
<style lang="scss">
.el-dialog.allowance-dialog{
  width: 30%; 
  .el-input-number.is-controls-right{
    width: 180px !important;
  }
}
</style>