<template>
  <div class="dashboard" id="dashboard">
    <el-row type="flex" align="middle" justify="space-between" class="m-b" v-if="companies && companies.length">
      <div>
        <h2 class="m-0 header">My Companies</h2>
        <p style="margin-top: 5px">Total {{companies.length}} companies found</p>
      </div>
      <el-button type="primary" round @click="addCompany" v-if="companies && companies.length">
        Add New Company
        <i class="el-icon-plus"></i>
      </el-button>
    </el-row>
    <el-row type="flex" align="middle" justify="start" :gutter="30" class="flex-wrap" v-if="companies && companies.length" v-loading="loading">
      <el-col :md="6" v-for="(company, index) in companies" v-bind:key="index">
        <el-card class='m-b company-card' @click.native="onEdit(company)">
          <div class="ribbon" v-if="company.license_id && company.license_valid"> <i class="fas fa-check"></i> Licensed</div>
          <div class="card-content t-c">
            <img :src="company.logo ? getImage(company.logo) : placeholder_img">
            <div class="m-t">
              <h3 class="m-0 uppercase">{{company.name || 'Unknown'}}</h3>
              <small class="m-0 t-ellipsis">{{company.website}}</small>
            </div>
          </div>
          <div class="card-footer t-l">
            <el-row type="flex" justify="space-between">
              <el-col>
                {{company.members ? company.members.length : 0}} Members
              </el-col>
              <el-col class="t-r">
                <el-dropdown class="actions-dd">
                  <span class="el-dropdown-link">
                    <i class="fas fa-ellipsis-v"></i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item @click.native="onEdit(company)">Edit</el-dropdown-item>
                    <el-dropdown-item @click.native="onDelete(company)" :disabled="company.license_id ? true : false">Delete</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </el-col>
            </el-row>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <el-card class="padded t-c first-company-card" v-if="(!companies || !companies.length) && !loading">
      <el-row align="middle">
        <img src="@/assets/FreightTrust-logo-08.png">
        <h2>Welcome to Freight Trust</h2>
        <p>Generate a NFT-based Bill of Lading, Warehouse Receipt or Commerical Invoice </p>
        <el-button type="primary" round @click="addCompany">
          Add New Company
          <i class="el-icon-plus"></i>
        </el-button>
      </el-row>
    </el-card>
  </div>
</template>

<script>
import tokenService from '@/services/tokenService'

export default {
  name: 'Dashboard',
  data: function () {
    return {
      companies: [],
      placeholder_img: require('../assets/placeholder.png'),
      api_url: process.env.VUE_APP_API_URL,
      loading: false
    }
  },
  mounted: function () {
    this.getCompanies();
  },
  methods: {
    getCompanies: function () {
      this.loading = true
      this.$store.dispatch('getCompaniesList', {show_loading: true, fullscreen: true, target: '#dashboard'}).then(resp => {
        this.companies = resp.data
        console.log(this.companies)
        this.verifyLicenses()
        this.loading = false
      }, error => {
        console.log(error)
        this.loading = false
      })
    },
    getImage: function (img_url) {
      return this.api_url + img_url
    },
    addCompany: function () {
      this.$router.push('/dashboard/create');
    },
    onEdit: function (company) {
      this.$router.push(`/dashboard/company/${company._id}/edit`)
    },
    onDelete: function (company) {
      this.confirmDelete().then(() => {
        this.$store.dispatch('deleteCompany', company._id).then(resp => {
          if (resp.result) {
            this.showSuccess('Company deleted successfully')
            this.companies = this.companies.filter((nextItem) => { return nextItem._id !== company._id })
          }
        })
      })
    },
    verifyLicenses: function () {
      let count = 0
      this.loading = true
      this.companies.forEach((company, index) => {
        tokenService.verifyCompanyLicense(company._id).then(license => {
          console.log('License Info')
          console.log(license)
          count++
          if(this.companies.length == count) {
            this.loading = false
          }
          let companyData = company
          if (license) {
            this.companies[index].license_valid = true
          } else {
            this.companies[index].license_valid = false
          }
        }, error => {
          count++
          if(this.companies.length == count) {
            this.loading = false
          }
          this.companies[index].license_valid = false
        })
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.dashboard{
  .el-card.company-card {
    position: relative;
    .el-card__body{
      padding: 0px !important;
      
      .card-content {
        padding: 5rem 2rem 3rem;
        
        img {
          height: 5rem;
          width: 5rem;
          object-fit: contain;
        }
      }

      .card-footer {
        padding: 0.5rem 1.5rem;
        color: slategray;
        font-size: 0.8rem;
      }
      .ribbon .fa-check{
        margin-right: 5px;
      }
    }
  }
  .el-card.first-company-card{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>
