<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import userService from '@/services/UserService'
export default {
  name: 'App',
  created: function () {
    userService.init()
  },
  mounted: function () {
    // this.$router.push('/dashboard')
    require('./assets/icon.png')

    if (userService.isLoggedIn()) {
      this.$router.push('/dashboard/index')
    } else {
      this.$router.push('/auth/register')
    }
  }
}
</script>

<style>
@font-face {
  font-family: 'Poppins Regular';
  src: url('./assets/Poppins-Regular.ttf');
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

body * {
  font-family: 'Poppins Regular', 'Avenir', Helvetica;
}

</style>
