<template>
  <div class="AuthPage">
    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>

export default {
  name: 'AuthPage',
  data: function () {
    return {
      isLoggedIn: false
    }
  },
  mounted: function () {

  },
  methods: {

  }
}
</script>

<style lang="scss">
.AuthPage {
  background-image: url("../assets/bg.png");
  background-size: cover;
  height: 100vh;
  overflow: auto;

  .container {
    background: transparent;
  }

  .auth-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;

    .el-card {
      padding-bottom: 1rem;
      box-shadow: 0 15px 100px 0px rgba(14,93,201,0.4) !important;
    }
  }

  .container {
    width: 100%;
    margin-left: 0;
    padding: 0;
  }

  .el-button+.el-button { margin-left: 0; }

  .social-links {
    i {
      cursor: pointer;
      margin: 0 8px;
      color: gray;
      font-size: 1.1rem;
    }
    i:hover {
      color: black;
    }
  }
}
</style>
