<template>
  <div class="DashboardPage">
    <div v-if="!isConnected">
      <div class="info-box">
        <div class="logo vertical">
          <div class="icon">
            <i class="fab fa-google-wallet"></i>
          </div>
          <div>
            Enterprise <b>Wallet</b>
          </div>
        </div>
        <el-card class="t-c p-2">
          <h1>Metamask not Connected</h1>
          <p class="m-b-2">You need to connect MetaMask to continue using this application.</p>
          <el-button type="primary" @click="openMetamask">Connect Metamask</el-button>
        </el-card>
      </div>
    </div>
    <div v-if="isConnected">
      <header>
        <navbar></navbar>
      </header>
      <el-row type="flex" align="top" class="wrapper">
        <sidenav></sidenav>
        <div class="container" :class="{'collpase': isCollapse}">
          <transition name="fade" mode="out-in">
            <router-view/>
          </transition>
        </div>
      </el-row>
    </div>
  </div>
</template>

<script>
import web3Service from '@/services/Web3Service'
import statsService from '@/services/StatService'

export default {
  name: 'Dashboard',
  data: function () {
    return {
      isConnected: false,
      isCollapse: false
    }
  },
  created: function () {
    web3Service.init()
    statsService.init()

    window.bus.$on('sidenav-collapse', (isCollapse) => {
      this.isCollapse = isCollapse
    })
  },
  mounted: function () {
    this.getAccounts()
  },
  methods: {
    getAccounts: function () {
      console.log('checking')
      web3Service.getAccounts().then(resp => {
        console.log(resp)
        if (resp) {
          this.afterSuccess()
        } else {
          this.checkAgain()
        }
      }, error => {
        console.log(error)
        this.checkAgain()
      })
    },
    afterSuccess: function () {
      this.isConnected = true
      web3Service.closeMetamaskPopup()
      this.$router.push('/dashboard/index')
    },
    checkAgain: function () {
      this.isConnected = false
      setTimeout(() => {
        this.getAccounts()
      }, 1000)
    },
    openMetamask: function () {
      web3Service.openMetamaskPopup()
    }
  }
}
</script>

<style lang="scss">
.DashboardPage {
  background-color: #F0F4FA;
  height: 100vh;
  overflow: auto;

  .container.collpase {
    margin-left: 12%;
  }
}
</style>
