<template>
  <div class="company-create-page margin-navbar p-t-2 p-b-2">
   <!--  <header>
      <navbar />
    </header> -->

    <div class="container-tab">  
      <el-row type="flex" justify="space-between" align="middle" class="m-b">
        <h2 class="header m-b-0">Create New Company</h2>
        <el-button round @click="back">
          <i class="el-icon-arrow-left"></i>
          Back
        </el-button>
      </el-row>
      <el-card class="padded">
        <edit-company @save="onSave($event)"></edit-company>
      </el-card>
    </div>
  </div>
</template>

<script>
import EditCompanyComponent from '@/components/EditCompany'

export default {
  name: 'CompanyCreatePage',
  data: function () {
    return {
    }
  },
  components: {
    'edit-company': EditCompanyComponent
  },
  methods: {
    onSave: function (company) {
      this.$router.push(`/dashboard/company/${company._id}/members`)
    },
    back: function () {
      this.$router.push('/dashboard/')
    }
  }
}
</script>
<style lang="scss">
.company-create-page {
  /* padding: 4rem 0; */
  
  .el-card {
    padding: 2rem 3rem;
  }
}
</style>