<template>
  <div id="app">
    <router-view/>
  </div>
</template>
<script>

  import web3Service from '@/services/web3Service'
  import tokenService from '@/services/tokenService'
  import salesService from '@/services/salesService'

  export default {
    name: 'App',
    created: function () {
      web3Service.init()
      tokenService.init()
      salesService.init()
    },
    mounted: function () {
      let user = this.$store.getters.user
      if (!user) {
        // this.$router.push('/signin')
      }
    }
  }
</script>
<style lang="scss">
@font-face {
  font-family: 'Poppins Regular';
  src: url('./assets/Poppins-Regular.ttf');
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: #F0F4FA;
}

body * {
  font-family: 'Poppins Regular', 'Avenir', Helvetica;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
