bill-detail {
	ion-content.no-scroll {
		padding: 0 !important;
		.scroll-content {
			padding: 0 !important;
			overflow: hidden;
		}
	}

	ion-content {
		.item { padding-left: 0px; }

		ion-icon {
			font-size: 2rem !important; 
			min-height: auto !important;
		}
	}
}
