<ion-header *ngIf="!allowEdit">
  <ion-toolbar>
    <ion-title>
      Bill Details
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding style="min-height: 100vh;" class="bill-details content content-ios {{allowEdit ? 'no-scroll': ''}}">
  <h3 *ngIf="allowEdit">Bill Details</h3>
  <ion-list no-border>
    <ion-list-header text-left>
      Shipper
      <button *ngIf="allowEdit" (click)="editShipper()" ion-button icon-only item-end clear>
        <ion-icon ios="md-create" md="md-create"></ion-icon>
      </button>
    </ion-list-header>

    <ion-item>
      <ion-icon name='person' item-start></ion-icon>
      <p>{{bill.shipper.name}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name='call' item-start></ion-icon>
      <p>{{bill.shipper.phone}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name='pin' item-start></ion-icon>
      <p>
        {{bill.shipper.address}} {{bill.shipper.city}} {{bill.shipper.state}} {{bill.shipper.zip}}        
      </p>
    </ion-item>
  </ion-list>

  <ion-list no-border>
    <ion-list-header text-left>
      Consignee
      <button *ngIf="allowEdit" (click)="editConsignee()" ion-button icon-only item-end clear>
        <ion-icon ios="md-create" md="md-create"></ion-icon>
      </button>
    </ion-list-header>

    <ion-item>
      <ion-icon name='person' item-start></ion-icon>
      <p>{{bill.consignee.name}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name='call' item-start></ion-icon>
      <p>{{bill.consignee.phone}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name='pin' item-start></ion-icon>
      <p>
        {{bill.consignee.address}} {{bill.consignee.city}} {{bill.consignee.state}} {{bill.consignee.zip}}
      </p>
    </ion-item>
  </ion-list>

  <ion-list no-border>
    <ion-list-header text-left>
      Items
      <button *ngIf="allowEdit" (click)="editItems()" ion-button icon-only item-end clear>
        <ion-icon ios="md-create" md="md-create"></ion-icon>
      </button>
    </ion-list-header>

    <ion-item *ngFor="let item of bill.items">
      <div>
        <h2>{{item.name}}</h2>
        <!-- <p>{{item.detail}}</p> -->
        <small class="mute"><span>Quantity: {{item.quantity}}</span> <span style="margin-left: 3rem">Weight/Unit: {{item.weight}}</span></small>
      </div>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col class="t-l" col-6>
          <div class="signature">
            <img *ngIf="bill && bill.carrier_signature" [src]="bill.carrier_signature">
          </div>
          <h2>Carrier Signature</h2>
        </ion-col>
        <ion-col class="t-r" col-6>
          <div class="signature">
            <img *ngIf="bill && bill.shipper_signature" [src]="bill.shipper_signature">
          </div>
          <h2>Shipper Signature</h2>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>