<template>
  <div class="container signup-page">
    <div class="t-c auth-container">
      <div class="logo vertical">
        <div class="icon">
          <i class="fab fa-google-wallet"></i>
        </div>
        <div>
          Enterprise <b>Wallet</b>
        </div>
      </div>
      <el-card class="padded">
        <el-form ref="form" :rules="rules" :model="user">
          <el-form-item label="Name" prop="name">
            <el-input type="text" v-model="user.name" placeholder="Enter your name"></el-input>
          </el-form-item>
          <el-form-item label="Email" prop="email">
            <el-input type="email" v-model="user.email" placeholder="Enter your email"></el-input>
          </el-form-item>
          <el-form-item label="Password" prop="password">
            <el-input type="password" v-model="user.password" placeholder="Enter password"></el-input>
          </el-form-item>
          <!-- <el-form-item label="Confirm Password" prop="confirm_password">
            <el-input type="password" v-model="user.confirm_password" placeholder="Enter password again"></el-input>
          </el-form-item> -->
          <div class="t-l">
            <el-checkbox v-model="checked">I agree to all <a href="#">Terms & Conditions</a></el-checkbox>
          </div>

          <el-form-item></el-form-item>
          <el-row class="t-c">
            <el-button type="primary" round class="full-width" @click="onSubmit" id="submit-button">Register</el-button>
            <el-button type="plain" round class="full-width m-t" @click="login()">Login</el-button>
          </el-row>
        </el-form>
        <el-row class="t-c m-t-2 social-links">
          <i class="fab fa-facebook" @click="openLink('https://www.facebook.com/blockarray')"></i>
          <i class="fab fa-twitter" @click="openLink('https://www.twitter.com/blockarraygroup')"></i>
          <i class="fab fa-google-plus-g" @click="openLink('https://www.googleplus.com/blockarray')"></i>
        </el-row>
      </el-card>
    </div>
  </div>
</template>
<script>
import userService from '@/services/UserService'
import web3Service from '@/services/Web3Service'

export default {
  name: 'Signup-Page',
  data: function () {
    // var validateConfirmPassword = (rule, value, callback) => {
    //   if (value !== this.user.password) {
    //     callback(new Error('Password not match'))
    //   }
    //   callback()
    // }
    return {
      user: {},
      checked: false,
      rules: {
        name: {
          required: true,
          message: 'Name is required',
          trigger: 'blur'
        },
        email: [
          {
            required: true,
            message: 'Email is required',
            trigger: 'blur'
          },
          {
            pattern: /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/,
            message: 'Invalid email address',
            trigger: 'blur'
          }
        ],
        password: [
          {
            required: true,
            message: 'Password is required',
            trigger: 'blur'
          },
          {
            min: 6,
            message: 'Password should be atleast 6 characters in length',
            trigger: 'blur'
          },
          {
            pattern: /^[^\s]+$/,
            message: 'Password may not contain spaces.',
            trigger: 'blur'
          }
        ]
        // confirm_password: [
        //   {
        //     required: true,
        //     message: 'Confirm password is required'
        //   },
        //   {
        //     validator: validateConfirmPassword
        //   }
        // ]
      }
    }
  },
  methods: {
    onSubmit: function () {
      this.$refs['form'].validate(valid => {
        if (valid) {
          let user = {...this.user}
          delete user.confirm_password

          userService.register(user, {
            show_loading: true,
            fullscreen: false,
            target: '#submit-button'
          }).then((resp) => {
            if (resp) {
              this.showSuccess('Registration successfull')
              this.$router.push('/dashboard/index')
            }
          })
        }
      })
    },
    login: function () {
      this.$router.push('/auth/login')
    },
    openLink: function (link) {
      web3Service.openLink(link)
    }
  }
}
</script>
