<template>
  <div class="container signin-page">
    <div class="t-c auth-container">
      <div class="logo vertical">
        <div class="icon">
          <i class="fab fa-google-wallet"></i>
        </div>
        <div>
          Enterprise <b>Wallet</b>
        </div>
      </div>
      <el-card class="padded">
        <el-form ref="form" :rules="rules" :model="user">
          <el-form-item label="Email" prop="email">
            <el-input type="email" v-model="user.email" placeholder="Enter your email"></el-input>
          </el-form-item>
          <el-form-item label="Password" prop="password">
            <el-input type="password" v-model="user.password" placeholder="Enter password"></el-input>
          </el-form-item>
          <el-form-item></el-form-item>
          <el-row class="t-c">
            <el-button type="primary" round class="full-width" @click="onSubmit" id="submit-button">Login</el-button>
            <el-button type="plain" round class="full-width m-t" @click="register()">Register</el-button>
            <!-- <div class="m-t">
              <router-link to="/auth/register" class="m-t">Not a member? Register</router-link>
            </div> -->
          </el-row>
        </el-form>
        <el-row class="t-c m-t-2 social-links">
          <i class="fab fa-facebook" @click="openLink('https://www.facebook.com/blockarray')"></i>
          <i class="fab fa-twitter" @click="openLink('https://www.twitter.com/blockarraygroup')"></i>
          <i class="fab fa-google-plus-g" @click="openLink('https://www.googleplus.com/blockarray')"></i>
        </el-row>
      </el-card>
    </div>
  </div>
</template>
<script>
import userService from '@/services/UserService'
import web3Service from '@/services/Web3Service'

export default {
  name: 'Signin-Page',
  data: function () {
    return {
      user: {},
      rules: {
        email: [
          {
            required: true,
            message: 'Email is required',
            trigger: 'blur'
          },
          {
            pattern: /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/,
            message: 'Invalid email address',
            trigger: 'blur'
          }
        ],
        password: [
          {
            required: true,
            message: 'Password is required',
            trigger: 'blur'
          },
          {
            min: 6,
            message: 'Password should be atleast 6 characters in length',
            trigger: 'blur'
          },
          {
            pattern: /^[^\s]+$/,
            message: 'Password may not contain spaces.',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    onSubmit: function () {
      this.$refs['form'].validate(valid => {
        if (valid) {
          let user = {...this.user}
          delete user.confirm_password

          userService.login(user, {
            show_loading: true,
            fullscreen: false,
            target: '#submit-button'
          }).then((resp) => {
            if (resp) {
              this.showSuccess('Login successfull')
              this.$router.push('/dashboard/index')
            }
          })
        }
      })
    },
    register: function () {
      this.$router.push('/auth/register')
    },
    openLink: function (link) {
      web3Service.openLink(link)
    }
  }
}
</script>
