page-bills {
  .header .card .item{
    padding-left: 0px;
  }
  ion-avatar {
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    background: #fff;
    position: relative;

    img {
      width: 5rem;
      height: 5rem;
      object-fit: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .card{
    margin: 0px;
    width: 100%;
    box-shadow: none;
  }
  .header .card:last-child{
    padding: 12px 16px;
    background-color: #f8f8f8;
    border-top: 0.55px solid #c8c7cc;
    border-bottom: 0.55px solid #c8c7cc;
  }

  h3 {
    margin: 1rem 0 1rem !important;
  }
  .upper-page{
    color: #ffffff;
    background: #0b3988;
    /* min-height: 40vh; */
    .button{
      font-weight: bold;
      padding: 0 3.5rem;
      background-color: #0066cc;
    }

    .detail {
      font-size: 1.5rem;
      margin: 1rem 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      ion-icon { padding-right: 0.5rem; }
    }
  }

  .bills-header {
    box-shadow: 0px 1px 1px 0px lightgray;
    background: white;
    position: relative;
    z-index: 10;

    ion-col {
      padding-left: 0; 
      padding-right: 0
    }

    h5 { margin: 0; }

    ion-segment { margin-top: 1rem; }
  }
  .bills-section{
    /* position: absolute;
    top: 22rem; */

    height: calc(100vh - 30rem);
    width: 100%;
    padding: 0 !important;

    ion-scroll {
      height: 100%;
    }

    ion-card.card{
      min-height: 65vh;
    }
  }
}
