<!--
  Generated template for the BillsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{company.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <div class="upper-page" padding>
    <ion-row align-items-center>
      <ion-col col-8>
        <!-- <div style="padding: 0.5rem 0;">
          <h3>
            
          </h3>
        </div> -->
        <p class="detail">
          <ion-icon ios="ios-globe" md="md-globe"></ion-icon>
          {{company.website}}
        </p>
        <p class="detail">
          <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
          {{company.email}}
        </p>
        <p class="detail">
          <ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>
          {{company.phone}}
        </p>
        
      </ion-col>
      <ion-col>
        <ion-avatar float-right>
          <img class="avatar" [src]="company.logo ? API_URL + company.logo : 'assets/imgs/FreightTrust-logo-09.png'">
        </ion-avatar>
      </ion-col>
    </ion-row>
  </div>
  <div padding class="bills-header">
    <ion-row>
      <ion-col>
        <h5>Recent Bills</h5>
      </ion-col>
      <button ion-button small (click)="didTapNewBill()" padding-left padding-right color="primary">Add Bill</button>
    </ion-row>
    <ion-segment [(ngModel)]="bills_filter" color="primary">
      <ion-segment-button value="" (click)="setFilter('')">
        All
      </ion-segment-button>
      <ion-segment-button value="shipper_signed" (click)="setFilter('shipper_signed')">
        Pending
      </ion-segment-button>
      <ion-segment-button value="approved" (click)="setFilter('approved')">
        Approved
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="bills-section" padding>
    <ion-scroll scrollY="true">
    <!-- <ion-card>
      <ion-card-content> -->
        <ion-list class="data-list" *ngIf="bills.length">
          <ion-item *ngFor="let bill of bills">
            <h2 (click)="didTapBillDetail(bill)">
              Quote123
            </h2>
            <!-- <p><strong>Shipper:</strong> {{bill.shipper ? bill.shipper.name : 'Shipper'}}</p> -->
            <!-- <p><strong>Items:</strong> {{bill.items ? bill.items.length : 0}}</p> -->
            <p (click)="didTapBillDetail(bill)"><strong>Status:</strong> <span text-capitalize>{{bill.status || 'pending'}}</span></p>
            <div item-end>
              <ion-row>
                <button ion-button outline small color="primary" (click)="didTapNewBill(bill)">
                  <ion-icon ios="md-create" md="md-create"></ion-icon>
                </button>
                <button ion-button outline small color="danger" (click)="didTapRemoveBill(bill)">
                  <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                </button>
              </ion-row>
            </div>
          </ion-item>
        </ion-list>
        <p *ngIf="!bills.length" text-center>
          There are no bills added yet.
        </p>
      <!-- </ion-card-content>
    </ion-card> -->
    </ion-scroll>
  </div>
  <div>
  </div>
</ion-content>