ion-app.app-root.ios [padding], ion-app.app-root.md [padding] {
  padding: 1rem;

  .scroll-content {
    padding: 1rem;
  }
}

ion-content[no-bounce] {
  .scroll-content {
    overflow-y: hidden;
  }
}

ion-header.header{
  .toolbar{
    min-height: 60px;
    .toolbar-background{
      background: #002d7b;
    }
    .toolbar-content{
      .title{
        .toolbar-title{
          color: #ffffff;
          font-size: 2rem;
        }
      }
    }
  }
}

ion-toolbar, ion-navbar {
  .bar-button * {
    color: white;
  } 
}

ion-card.card{
    border-radius: 8px;
}

ion-list.list.data-list{
  margin: 0 0px;

  .item{
    min-height: 7.4rem;
    color: #2f4f4f;
    border: 0.55px solid #f7f7fb;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.1)!important;

    .item-inner{
      border-bottom: 0px;
    }
    h2{
      font-size: 1.75rem;
      margin-bottom: 0.5rem;
    }
    ion-avatar[item-start]{
      border-right: 2px solid #e0dee6;
      padding-right: 8px;
    }
  }
  .item-block:first-child, .item-block:last-child{
    border-top: 0px;
    border-bottom: 0px;
  }
}

button.button-default[color=primary] {
  background-color: #0c3988;
  font-weight: bold;
}

button.button-outline[color=primary] {
  border-color: #0c3988;
  color: #0c3988;
}

ion-segment.segment-ios {

  .segment-button{
    border-color: #0c3988;
    color: #0c3988;
    font-weight: bold;

    &.segment-activated {
      background-color: #0c3988;
    }
  }
}

ion-segment.segment-md {
  .segment-button {
    color: #0c3988;
    border: 2px solid #0c3988;
    font-weight: bold;

    &.segment-activated {
      border-color: #0c3988;
      color: white;
      background: #0c3988;
    }
  }

  .segment-button:not(:last-child) {
    border-right: none;
  }
}