ion-input, ion-textarea {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 1rem;
  background: #feffff;
  font-size: 1.35rem;
  margin-bottom: 1.75rem;

  input.text-input, textarea.text-input {
    margin: 0;
  }
}

.form-group {
  position: relative;

  .form-control-feedback {
    position: absolute;
    bottom: -1.65rem;
    font-size: 1.25rem;

    p {
      margin: 0;
    }
  }
}

.form-group.has-success {
  ion-input {
    border: 1px solid #8BC34A;
  }
}

.form-group.has-danger {
  ion-input {
    border: 1px solid #F44336;
  }

  .form-control-feedback {
    color: #F44336;
  }
}

ion-input:active, ion-input:focus, ion-input:visited, ion-input:hover {
  border: 1px solid #2196F3;
}