@import './utility.scss';

$primary: #1763FF;
$secondary: #10C99C;
$danger: #f56c6c;

.fc-primary { color: $primary; }
.fc-white { color: white; }

html {
  font-size: 14px;
  overflow: hidden;
}

body {
  margin: 0;
  font-size: 1rem;
}


.wrapper {
  height: calc(100vh - 6rem);
  margin-top: 6rem;
}

.side-navbar {
  position: fixed;
  height: 100%;
  width: 18%;
  z-index: 100;
}

.container {
  /* width: calc(100% - 15rem); */
  width: 80%;
  height: 100%;
  min-height: 100vh;
  margin-left: 18%;
  padding: 2rem;
  background-color: #F0F4FA;
}

.info-box {
  max-width: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  margin: 1.5rem 0;
  color: $primary;

  .icon {
    margin-right: 1rem;
    font-size: 1.2rem;
  }
}

.logo.vertical {
  flex-direction: column;
  .icon {
    min-width: 2rem;
    min-height: 2rem;
    margin-right: 0;
    margin-bottom: 0.5rem;
    padding: 1rem 1.5rem 1rem 1.3rem;
    background: white;
    border-radius: 50%;
    box-shadow: 0 4px 30px 2px rgba(14, 93, 201, 0.2);

    i { font-size: 2.5rem; }
  }
}

.el-card {
  border-radius: 1rem;
  box-shadow: 0 2px 100px 0 rgba(0,0,0,.1) !important;

  .el-card__header * {
    font-weight: normal;
  }

  .header {
    font-weight: normal;
    margin-top: 0;
  }
}

.el-card.padded {
  padding: 3rem;

  .el-card__body { padding: 0; }
}

.el-card.table {
  padding: 0;
  .el-card__body { padding: 0; }

  .el-table {
    th>.cell {
      padding: 1rem 2rem 1rem;
      font-weight: normal;
      color: black;
    }

    .cell {
      padding: 0 2rem;
    }

    .status {
      .success { color: #0EC99B; }
      .error { color: #f56c6c; }
    }

   .action-button {
      padding: 5px;
      border: none;
      background: none !important;
    }

    i { font-size: 1.25rem; }
  }
}

.el-form {
  .el-form-item {
    .el-form-item__label {
      color: $primary;
      font-size: 0.9rem;
      text-transform: uppercase;
    }
  }
  .el-form-item.is-required {
    .el-form-item__label {
      &:before {
        content: none;
      }

      &:after {
        content: '*';
        color: $danger;
        margin-left: 4px;
      }
    }
  }
}

.el-table {
  .el-table thead {
    text-transform: uppercase;
  }

  tbody {
    tr:last-child td {
      border-bottom: 0;
    }

    tr.el-table__row:hover {
      box-shadow: 0px 0px 25px 0px rgba(125,138,159,0.5);
    }
  }

  th,tr {
    background: transparent;
  }
}
.el-table::before {
  content: none;
}

.el-button {
  font-size: 1rem;
  overflow: hidden;

  .el-loading-spinner .circular {
    width: 30px;
    height: 30px;
  }
}

.el-button.large {
  font-size: 1.15rem;
  height: auto;
  padding: 0.8rem 3rem;
  border-radius: 2rem;

  .el-loading-mask {
    border-radius: 2rem;
  }

  .el-loading-spinner {
    margin-top: -15px;
  }
}

.el-button--primary {
  background: $primary;
  border-color: $primary;

  &:active, &:hover, &:focus {
    background: $primary;
    border-color: $primary;
    box-shadow: 0 2px 12px 0px #0E5DC9;
  }
}
.el-button--primary.shadow {
  box-shadow: 0 2px 12px 0px #0E5DC9;
}

.el-button--secondary {
  color: white;
  background: $secondary;
  border-color: $secondary;

  &:active, &:hover, &:focus {
    color: white;
    background: $secondary;
    border-color: $secondary;
  }
}

.el-button--small {
  font-size: 0.9rem;
  padding: 9px 18px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

:focus {
  outline: none;
}

@import './responsive.scss';
