.t-l { text-align: left; }
.t-r { text-align: right; }
.t-c { text-align: center; }

.t-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.m-0 { margin: 0; }
.m-b-0 { margin-bottom: 0; }
.m-t-0 { margin-top: 0; }
.m-r-0 { margin-right: 0; }
.m-l-0 { margin-left: 0; }

.m { margin: 1rem; }
.m-t { margin-top: 1rem; }
.m-b { margin-bottom: 1rem; }
.m-l { margin-left: 1rem; }
.m-r { margin-right: 1rem; }

.m-2 { margin: 2rem; }
.m-t-2 { margin-top: 2rem; }
.m-b-2 { margin-bottom: 2rem; }
.m-l-2 { margin-left: 2rem; }
.m-r-2 { margin-right: 2rem; }

.p-0 { padding: 0; }
.p-b-0 { padding-bottom: 0; }
.p-t-0 { padding-top: 0; }
.p-r-0 { padding-left: 0; }
.p-l-0 { padding-right: 0; }

.p { padding: 1rem; }
.p-t { padding-top: 1rem; }
.p-b { padding-bottom: 1rem; }
.p-l { padding-left: 1rem; }
.p-r { padding-right: 1rem; }

.p-2 { padding: 2rem; }
.p-t-2 { padding-top: 2rem; }
.p-b-2 { padding-bottom: 2rem; }
.p-l-2 { padding-left: 2rem; }
.p-r-2 { padding-right: 2rem; }

.f-r { float: right; }
.f-l { float: left; }

.flex-wrap { flex-wrap: wrap; }

.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }

.full-width { width: 100%; }