page-add-bill {
  ion-slides {
    height: auto;

    ion-slide {
      margin-top: 2rem;
    }

    h3 {
      text-align: left;
      margin: 1rem 0 1rem !important;
    }

    .items-list {
      margin-top: 2rem;
      ion-item.item { 
        
        div[item-end] { margin: 0; }
      }
    }
  }

  ion-item.shipper_sign {
    padding-left: 0;

    ion-checkbox {

      .checkbox-icon { width: 1.75rem; height: 1.75rem; }
      .checkbox-checked .checkbox-inner {
        left: 0.6rem;
        top: 0.25rem;
      }
    }

    .item-inner {
      font-size: 1.5rem;
      border-bottom: 0 !important;
    }
  }
}