<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      {{bill._id ? 'Edit Bill': 'Create New Bill'}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="current_state">
    <ion-segment-button value="shipper" (click)="setCurrentState('shipper')">
      Shipper
    </ion-segment-button>
    <ion-segment-button value="consignee" (click)="setCurrentState('consignee')">
      Consignee
    </ion-segment-button>
    <ion-segment-button value="items" (click)="setCurrentState('items')">
      Items
    </ion-segment-button>
    <ion-segment-button value="confirm" (click)="setCurrentState('confirm')">
      Confirm
    </ion-segment-button>
  </ion-segment>

  <ion-slides #billSteps fraction>
    <ion-slide>
      <h3>Shipper</h3>
      <form [formGroup]="shipperForm" novalidate (ngSubmit)="onSubmit(0)">
        <div>
          <div class="form-group" [ngClass]="{'has-danger': shipperForm.controls.name.invalid && shipperForm.controls.name.touched, 'has-success': shipperForm.controls.name.valid && shipperForm.controls.name.touched }">
            <ion-input type="text" placeholder="Name" [(ngModel)]="bill.shipper.name" class="form-control" formControlName="name"></ion-input>
            <div class="form-control-feedback" *ngIf="shipperForm.controls.name.errors && (shipperForm.controls.name.dirty || shipperForm.controls.name.touched)">
              <p *ngIf="shipperForm.controls.name.errors.required">Name is required</p>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-danger': shipperForm.controls.phone.invalid && shipperForm.controls.phone.touched, 'has-success': shipperForm.controls.phone.valid && shipperForm.controls.phone.touched }">
            <ion-input type="phone" placeholder="Phone" [(ngModel)]="bill.shipper.phone" class="form-control" formControlName="phone"></ion-input>
            <div class="form-control-feedback" *ngIf="shipperForm.controls.phone.errors && (shipperForm.controls.phone.dirty || shipperForm.controls.phone.touched)">
              <p *ngIf="shipperForm.controls.phone.errors.required">Phone is required</p>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-danger': shipperForm.controls.address.invalid && shipperForm.controls.address.touched, 'has-success': shipperForm.controls.address.valid && shipperForm.controls.address.touched }">
            <ion-input type="text" placeholder="Address" [(ngModel)]="bill.shipper.address" class="form-control" formControlName="address"></ion-input>
            <div class="form-control-feedback" *ngIf="shipperForm.controls.address.errors && (shipperForm.controls.address.dirty || shipperForm.controls.address.touched)">
              <p *ngIf="shipperForm.controls.address.errors.required">Address is required</p>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-danger': shipperForm.controls.city.invalid && shipperForm.controls.city.touched, 'has-success': shipperForm.controls.city.valid && shipperForm.controls.city.touched }">
            <ion-input type="text" placeholder="City" [(ngModel)]="bill.shipper.city" class="form-control" formControlName="city"></ion-input>
            <div class="form-control-feedback" *ngIf="shipperForm.controls.city.errors && (shipperForm.controls.city.dirty || shipperForm.controls.city.touched)">
              <p *ngIf="shipperForm.controls.city.errors.required">City is required</p>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-danger': shipperForm.controls.state.invalid && shipperForm.controls.state.touched, 'has-success': shipperForm.controls.state.valid && shipperForm.controls.state.touched }">
            <ion-input type="text" placeholder="State" [(ngModel)]="bill.shipper.state" class="form-control" formControlName="state"></ion-input>
            <div class="form-control-feedback" *ngIf="shipperForm.controls.state.errors && (shipperForm.controls.state.dirty || shipperForm.controls.state.touched)">
              <p *ngIf="shipperForm.controls.state.errors.required">State is required</p>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-danger': shipperForm.controls.zip.invalid && shipperForm.controls.zip.touched, 'has-success': shipperForm.controls.zip.valid && shipperForm.controls.zip.touched }">
            <ion-input type="text" placeholder="Zip/Postal Code" [(ngModel)]="bill.shipper.zip" class="form-control" formControlName="zip"></ion-input>
            <div class="form-control-feedback" *ngIf="shipperForm.controls.zip.errors && (shipperForm.controls.zip.dirty || shipperForm.controls.zip.touched)">
              <p *ngIf="shipperForm.controls.zip.errors.required">Zip/Postal code is required</p>
            </div>
          </div>
        </div>
      </form>
    </ion-slide>

    <ion-slide>
      <h3>Consignee</h3>
      <form [formGroup]="consigneeForm" novalidate (ngSubmit)="onSubmit(1)">
        <div>
          <div class="form-group" [ngClass]="{'has-danger': consigneeForm.controls.name.invalid && consigneeForm.controls.name.touched, 'has-success': consigneeForm.controls.name.valid && consigneeForm.controls.name.touched }">
            <ion-input type="text" placeholder="Name" [(ngModel)]="bill.consignee.name" class="form-control" formControlName="name"></ion-input>
            <div class="form-control-feedback" *ngIf="consigneeForm.controls.name.errors && (consigneeForm.controls.name.dirty || consigneeForm.controls.name.touched)">
              <p *ngIf="consigneeForm.controls.name.errors.required">Name is required</p>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-danger': consigneeForm.controls.phone.invalid && consigneeForm.controls.phone.touched, 'has-success': consigneeForm.controls.phone.valid && consigneeForm.controls.phone.touched }">
            <ion-input type="phone" placeholder="Phone" [(ngModel)]="bill.consignee.phone" class="form-control" formControlName="phone"></ion-input>
            <div class="form-control-feedback" *ngIf="consigneeForm.controls.phone.errors && (consigneeForm.controls.phone.dirty || consigneeForm.controls.phone.touched)">
              <p *ngIf="consigneeForm.controls.phone.errors.required">Phone is required</p>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-danger': consigneeForm.controls.address.invalid && consigneeForm.controls.address.touched, 'has-success': consigneeForm.controls.address.valid && consigneeForm.controls.address.touched }">
            <ion-input type="text" placeholder="Address" [(ngModel)]="bill.consignee.address" class="form-control" formControlName="address"></ion-input>
            <div class="form-control-feedback" *ngIf="consigneeForm.controls.address.errors && (consigneeForm.controls.address.dirty || consigneeForm.controls.address.touched)">
              <p *ngIf="consigneeForm.controls.address.errors.required">Address is required</p>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-danger': consigneeForm.controls.city.invalid && consigneeForm.controls.city.touched, 'has-success': consigneeForm.controls.city.valid && consigneeForm.controls.city.touched }">
            <ion-input type="text" placeholder="City" [(ngModel)]="bill.consignee.city" class="form-control" formControlName="city"></ion-input>
            <div class="form-control-feedback" *ngIf="consigneeForm.controls.city.errors && (consigneeForm.controls.city.dirty || consigneeForm.controls.city.touched)">
              <p *ngIf="consigneeForm.controls.city.errors.required">City is required</p>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-danger': consigneeForm.controls.state.invalid && consigneeForm.controls.state.touched, 'has-success': consigneeForm.controls.state.valid && consigneeForm.controls.state.touched }">
            <ion-input type="text" placeholder="State" [(ngModel)]="bill.consignee.state" class="form-control" formControlName="state"></ion-input>
            <div class="form-control-feedback" *ngIf="consigneeForm.controls.state.errors && (consigneeForm.controls.state.dirty || consigneeForm.controls.state.touched)">
              <p *ngIf="consigneeForm.controls.state.errors.required">State is required</p>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-danger': consigneeForm.controls.zip.invalid && consigneeForm.controls.zip.touched, 'has-success': consigneeForm.controls.zip.valid && consigneeForm.controls.zip.touched }">
            <ion-input type="text" placeholder="Zip/Postal Code" [(ngModel)]="bill.consignee.zip" class="form-control" formControlName="zip"></ion-input>
            <div class="form-control-feedback" *ngIf="consigneeForm.controls.zip.errors && (consigneeForm.controls.zip.dirty || consigneeForm.controls.zip.touched)">
              <p *ngIf="consigneeForm.controls.zip.errors.required">Zip/Postal code is required</p>
            </div>
          </div>
        </div>
      </form>
      <!-- <div>
        <ion-input type="text" placeholder="Name" [(ngModel)]="bill.consignee.name"></ion-input>
        <ion-input type="phone" placeholder="Phone" [(ngModel)]="bill.consignee.phone"></ion-input>
        <ion-input type="text" placeholder="Address" [(ngModel)]="bill.consignee.address"></ion-input>
        <ion-input type="text" placeholder="City" [(ngModel)]="bill.consignee.city"></ion-input>
        <ion-input type="text" placeholder="State" [(ngModel)]="bill.consignee.state"></ion-input>
        <ion-input type="text" placeholder="Zip" [(ngModel)]="bill.consignee.zip"></ion-input>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button color="light" full round (click)="back(1)">Back</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button full round (click)="next(1)">Next</button>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </ion-slide>

    <ion-slide>
      <ion-row align-items-center justify-content-between>
        <h3>Items</h3>
        <button ion-button small outline color="primary" (click)="addNewItem()">Add Item</button>
      </ion-row>
      <div class="items-list">
        <small *ngIf="!bill.items || !bill.items.length">There are no shipping items added. Add items which you want to ship.</small>
        <ion-list class="data-list" *ngIf="bill.items && bill.items.length">
          <ion-item *ngFor="let item of bill.items">
            <h2>{{item.name}}</h2>
            <small class="mute"><span>Quantity: {{item.quantity}}</span> <span style="margin-left: 3rem">Weight/Unit: {{item.weight}}</span></small>
            <div item-end>
              <!-- <button ion-button clear >
                Edit
              </button>
              <button ion-button clear>
                Delete
              </button> -->
              <button ion-button outline small color="primary" (click)="addNewItem(item)">
                <ion-icon ios="md-create" md="md-create"></ion-icon>
              </button>
              <button ion-button outline small color="danger" (click)="deleteItem(item)">
                <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
              </button>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>

    <ion-slide>
      <ion-row align-items-center justify-content-between>
        <h3>Confirm</h3>
        <button ion-button small outline color="primary" (click)="didTapViewBill()">View Bill</button>
      </ion-row>
      <div>
        <ion-row align-items-center justify-content-between>
          <p>Carrier signature here: </p>
          <button ion-button small outline color="primary" (click)="clear('carrier_signature')">Clear</button>
        </ion-row>
        <div>
          <signature-pad #carrierSignaturePad [options]="signaturePadOptions" (onEndEvent)="drawComplete('carrier_signature')"></signature-pad>
        </div>
      </div>
      <ion-item class="shipper_sign">
        <ion-label>Is shipper available to confirm?</ion-label>
        <ion-checkbox color="primary" [(ngModel)]="shipper_sign"></ion-checkbox>
      </ion-item>
      <div *ngIf="shipper_sign">
        <ion-row align-items-center justify-content-between>
          <p>Shipper signature here: </p>
          <button ion-button small outline color="primary" (click)="clear('shipper_signature')">Clear</button>
        </ion-row>
        <div>
          <signature-pad #shipperSignaturePad [options]="signaturePadOptions" (onEndEvent)="drawComplete('shipper_signature')"></signature-pad>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer no-border>
  <ion-toolbar transparent>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button icon-start full (click)="back()" color="primary">
            <ion-icon name="arrow-back"></ion-icon>
            Back
          </button>
        </ion-col>
        <ion-col col-6 *ngIf="current_state != 'confirm'">
          <button ion-button icon-end full (click)="next()" color="primary">
            Next
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-6 *ngIf="current_state == 'confirm'">
          <button ion-button icon-end full (click)="confirm()" color="primary">
            Submit
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>