<ion-header>
  <ion-toolbar>
    <ion-title>
      Add New Item
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="close()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div>
    <ion-input type="text" placeholder="Name" [(ngModel)]="item.name"></ion-input>
    <ion-input type="number" placeholder="Quantity" [(ngModel)]="item.quantity"></ion-input>
    <ion-input type="number" placeholder="Weight / Unit" [(ngModel)]="item.weight"></ion-input>
    <ion-textarea type="text" placeholder="Detail" [(ngModel)]="item.detail"></ion-textarea>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button color="light" full round (click)="close()">Cancel</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full round color="primary" (click)="save()">Save</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>