<template>
  <div class="dashboard-page ">
    <div v-if="isConnected">
      <header>
        <navbar />
      </header>
      <div class="">
        <transition name="fade" mode="out-in">
          <router-view></router-view>
        </transition>
      </div>
    </div>
    <div v-if="!isConnected">
      <connectmetamask />
    </div>
  </div>
</template>
<script>
// @ is an alias to /src
import web3Service from '@/services/web3Service.js'
import ConnecMetamask from '@/components/ConnectMetamask'
import Dashboard from '@/components/Dashboard'

export default {
  name: 'DashboardPage',
  data: function () {
    return {
        isConnected: false
    }
  },
  components: {
    dashboard: Dashboard,
    connectmetamask: ConnecMetamask
  },
  mounted: function () {
    this.getAccounts()
    web3Service.watchMetamaskAddressUpdate(() => {
      window.location.reload();
    })
  },
  methods: {
    getAccounts: function () {
      web3Service.getAccounts().then((accounts) => {
          if (accounts) {
            this.afterMetamaskConnect()
          } else {
            this.checkAgain()
          }
      })
    },
    afterMetamaskConnect: function () {
      this.isConnected = true
    },
    checkAgain: function () {
      this.isConnected = false
      setTimeout(() => {
        this.getAccounts()
      }, 1000)
    }
  }
}
</script>
<style lang="scss">
.dashboard-page {
  .container {
    height: calc(100vh - 80px);
  }
}
</style>
