<template>
  <div class="addresses-page">
    <el-row type="flex" align="middle" justify="space-between" class="m-b">
      <h2 class="m-0">Address Book</h2>
      <el-button type="primary" round @click="onDialogOpen">
        Add New Address
        <i class="el-icon-plus"></i>
      </el-button>
    </el-row>

    <div id="page-content">
      <div v-if="!addresses.length">
        <el-card :shadow="'never'" class="t-c">
          No address records found
        </el-card>
      </div>
      <div v-if="addresses.length">
        <el-row type="flex" align="middle" justify="start" :gutter="24" class="flex-wrap">
          <el-col :md="8" v-for="(address, index) in addresses" v-bind:key="index">
            <el-card class='m-b resource padded'>
              <h3 class="m-t-0 uppercase fc-primary">{{address.name || 'Unknown'}}</h3>
              <el-tooltip class="item" effect="dark" :content="address.address" placement="top">
                <p class="m-0 t-ellipsis">{{address.address}}</p>
              </el-tooltip>
              <el-dropdown class="actions-dd">
                <span class="el-dropdown-link">
                  <i class="fas fa-ellipsis-v"></i>
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item @click.native="onDialogOpen(address)">Edit</el-dropdown-item>
                  <el-dropdown-item @click.native="onDelete(address)">Delete</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </el-card>
          </el-col>
        </el-row>
      </div>
    </div>
    <add-address-dialog :dialogVisible="dialogVisible" :address="selected_address" @close="onDialogClose"></add-address-dialog>
  </div>
</template>
<script>
import AddAddressDialog from '@/components/AddAddress'
import resourceService from '@/services/ResourceService'

export default {
  name: 'Addresses-Page',
  data: function () {
    return {
      addresses: [],
      selected_address: null,
      dialogVisible: false
    }
  },
  components: {
    'add-address-dialog': AddAddressDialog
  },
  mounted: function () {
    console.log('mounted')
    this.getAddresses()
  },
  methods: {
    getAddresses: function () {
      resourceService.getAll('address', null, {
        show_loading: true,
        fullscreen: true,
        target: '#page-content'
      }).then(resp => {
        this.addresses = resp.data
      })
    },
    onDialogOpen: function (address) {
      this.selected_address = address || null
      this.dialogVisible = true
    },
    onDialogClose: function () {
      this.selected_address = null
      this.dialogVisible = false

      this.addresses = resourceService['address']
    },
    onDelete: function (address) {
      this.confirmDelete().then(() => {
        resourceService.deleteResource('address', address).then(resp => {
          this.showSuccess('Address deleted successfully')
          this.addresses = resourceService['address']
        })
      })
    }
  }
}
</script>
<style lang="scss">
.addresses-page {
  .resource.el-card {
    position: relative;
    .image {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
    .el-button {
      border: none;
      margin-left: 0;
    }
    .actions-dd {
      position: absolute;
      top: 1rem;
      right: 1rem;

      .el-dropdown-link i { padding: 10px; cursor: pointer; }
    }
  }
}
</style>
