<template>
  <div class="applications-page">
    <el-row type="flex" align="middle" justify="space-between" class="m-b">
      <h2 class="m-0">Applications</h2>
      <el-button type="primary" round @click="onDialogOpen">
        Add New Application
        <i class="el-icon-plus"></i>
      </el-button>
    </el-row>

    <div id="page-content">
      <div v-if="!applications.length">
        <el-card :shadow="'never'" class="t-c">
          No application records found
        </el-card>
      </div>
      <div v-if="applications.length">
        <el-row type="flex" align="middle" justify="start" :gutter="15" class="flex-wrap">
          <el-col :md="8" v-for="(application, index) in applications" v-bind:key="index">
            <el-card class='m-b resource'>
              <el-row type="flex" align="middle">
                <div @click.native="openApplication(application.url)" class="t-c image p p-t-2 p-b-2">
                  <img :src="application.image ? getImage(application.image) : placeholder_img">
                </div>
                <el-col :md="20" @click.native="openApplication(application.url)" class="p  p-t-2 p-b-2">
                  <h3 class="m-0 uppercase fc-primary">{{application.name || 'Unknown'}}</h3>
                  <el-tooltip class="item" effect="dark" :content="application.url" placement="top">
                    <p class="m-0 t-ellipsis">{{application.url}}</p>
                  </el-tooltip>
                </el-col>
              </el-row>
              <el-dropdown class="actions-dd">
                <span class="el-dropdown-link">
                  <i class="fas fa-ellipsis-v"></i>
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item @click.native="onDialogOpen(application)">Edit</el-dropdown-item>
                  <el-dropdown-item @click.native="onDelete(application)">Delete</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </el-card>
          </el-col>
        </el-row>
      </div>
    </div>
    <add-application-dialog :dialogVisible="dialogVisible" :application="selected_application" @close="onDialogClose"></add-application-dialog>
  </div>
</template>
<script>
import AddApplicationDialog from '@/components/AddApplication'
import resourceService from '@/services/ResourceService'
import web3Service from '@/services/Web3Service'

export default {
  name: 'Applications-Page',
  data: function () {
    return {
      applications: [],
      selected_application: null,
      dialogVisible: false,
      api_url: process.env.API_URL,
      placeholder_img: require('../../assets/placeholder.png')
    }
  },
  components: {
    'add-application-dialog': AddApplicationDialog
  },
  mounted: function () {
    console.log('mounted')
    this.getApplications()
  },
  methods: {
    getApplications: function () {
      resourceService.getAll('application', null, {
        show_loading: true,
        fullscreen: true,
        target: '#page-content'
      }).then(resp => {
        this.applications = resp.data
      })
    },
    getImage: function (imgUrl) {
      return this.api_url + imgUrl
    },
    onDialogOpen: function (application) {
      this.selected_application = application || null
      this.dialogVisible = true
    },
    onDialogClose: function () {
      this.selected_application = null
      this.dialogVisible = false

      this.applications = resourceService.application
    },
    onDelete: function (application) {
      this.confirmDelete().then(() => {
        resourceService.deleteResource('application', application).then(resp => {
          this.showSuccess('Application deleted successfully')
          this.applications = resourceService.application
        })
      })
    },
    openApplication: function (url) {
      web3Service.openLink(url)
    }
  }
}
</script>
<style lang="scss">
.applications-page {
  .resource.el-card {
    cursor: pointer;
    position: relative;

    .el-card__body {
      padding: 0;
    }

    .image {
      background: #f5f7fa;
      img {
        width: 4rem;
        height: 4rem;
        margin-top: 8px;
        border-radius: 50%;
      }
    }
    .el-button {
      border: none;
      margin-left: 0;
    }

    .actions-dd {
      position: absolute;
      top: 1rem;
      right: 1rem;

      .el-dropdown-link i { padding: 10px; cursor: pointer; }
    }
  }
}
</style>
