<template>
  <div class="deployed-contracts">
    <!-- <el-row type="flex" align="middle" justify="space-between" class="m-b-2">
      <h2 class="m-0">Deployed Contracts</h2>
      <el-button type="primary" round @click="onDialogOpen">
        Deploy Contract
        <i class="fas fa-cloud-upload-alt" style="margin-left: 5px;"></i>
      </el-button>
    </el-row> -->
    <el-row type="flex" align="middle" justify="space-between" class="m-b-2 header-row">
      <el-row type="flex" align="middle">
        <vue-qr :text="address" class="image"></vue-qr>
        <div>
          <h2 class="m-0">Deployed Contracts</h2>
          <p class="m-0">
            You have deployed {{total_contracts}} contracts
          </p>
        </div>
      </el-row>
      <el-button type="primary" round @click="onDialogOpen">
        Deploy Contract
        <i class="fas fa-cloud-upload-alt" style="margin-left: 5px;"></i>
      </el-button>
    </el-row>

    <div id="page-content">
      <el-card class="table">
        <el-table
          :data="contracts"
          style="width: 100%">
          <el-table-column
            label="" width="80">
            <template slot-scope="scope">
              <span class="status">
                <i class="far fa-check-circle success"></i>
              </span>
            </template>
          </el-table-column>
          <!-- <el-table-column
            label="Contract Name">
            <template slot-scope="scope">
              {{scope.row.name}}
            </template>
          </el-table-column> -->
          <el-table-column
            label="Contract Address">
            <template slot-scope="scope">
              {{scope.row.address}}
            </template>
          </el-table-column>
          <el-table-column
            label="Transaction Hash">
            <template slot-scope="scope">
              {{scope.row.tx_hash}}
            </template>
          </el-table-column>
          <el-table-column
            label="Balance"
            width="200">
            <template slot-scope="scope">
              {{scope.row.balance | toEther}}
            </template>
          </el-table-column>
          <el-table-column
            label=""
            width="200">
            <template slot-scope="scope">
              <span class="f-r">
                <el-button type="plain" class="action-button" size="small" @click="viewContract(scope.row.address)">
                  <i class="far fa-eye"></i>
                </el-button>
              </span>
            </template>
          </el-table-column>
        </el-table>
      </el-card>
    </div>
    <deploy-contract-dialog :dialogVisible="dialogVisible" :address="address" @close="onDialogClose"></deploy-contract-dialog>
  </div>
</template>

<script>
import VueQr from 'vue-qr'
import DeployContractDialog from '@/components/DeployContract'
import resourceService from '@/services/ResourceService'
import web3Service from '@/services/Web3Service'

export default {
  name: 'DeployedContractsPage',
  data: function () {
    return {
      address: '',
      contracts: [],
      total_contracts: 0,
      dialogVisible: false
    }
  },
  components: {
    'deploy-contract-dialog': DeployContractDialog,
    VueQr
  },
  mounted: function () {
    this.getAddress()
    this.getDeployedContracts()
  },
  methods: {
    getAddress: function () {
      web3Service.getAccounts().then(address => {
        this.address = address || null
      })
    },
    getDeployedContracts: function () {
      resourceService.getAll('contract', {deploy_type: 'app'}, {
        show_loading: true,
        fullscreen: false,
        target: '#page-content'
      }).then(resp => {
        this.contracts = resp.data
        this.total_contracts = resp.count
      })
    },
    onDialogOpen: function () {
      this.dialogVisible = true
    },
    onDialogClose: function () {
      this.dialogVisible = false

      this.contracts = resourceService.contract
    },
    viewContract: function (address) {
      web3Service.openLink('https://rinkeby.etherscan.io/address/' + address)
    }
  }
}
</script>
<style lang="scss">
.deployed-contracts {
  .header-row {
    .image {
      height: 4rem;
      width: 4rem;
      margin-right: 12px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
</style>
