<template>
  <div class="dashboard-page">
    <h2 class="m-b m-t-0">Dashboard</h2>
    <el-row type="flex" justify="space-between" :gutter="20" class="m-b stats">
      <el-col :md="6" class="stat">
        <el-card>
          <h4 class="uppercase m-0">Best Block No.</h4>
          <el-row type="flex" align="bottom" justify="space-between">
            <h1 class="m-t m-b-0">{{highest_block | toNumber}}</h1>
            <i class="fas fa-cube"></i>
          </el-row>
        </el-card>
      </el-col>
      <el-col :md="6" class="stat">
        <el-card>
          <h4 class="uppercase m-0">Avg Network Hashrate</h4>
          <el-row type="flex" align="bottom" justify="space-between">
            <h1 class="m-t m-b-0">{{hash_rate}} H/s</h1>
            <i class="fas fa-fire"></i>
          </el-row>
        </el-card>
      </el-col>
      <el-col :md="6" class="stat">
        <el-card>
          <h4 class="uppercase m-0">Transactions / Sec.</h4>
          <el-row type="flex" align="bottom" justify="space-between">
            <h1 class="m-t m-b-0">{{tps}}</h1>
            <i class="fas fa-server"></i>
          </el-row>
        </el-card>
      </el-col>
      <el-col :md="6" class="stat">
        <el-card>
          <h4 class="uppercase m-0">Uncle Rate</h4>
          <el-row type="flex" align="bottom" justify="space-between">
            <h1 class="m-t m-b-0">{{uncle_rate}}</h1>
            <i class="fas fa-code-branch"></i>
          </el-row>
        </el-card>
      </el-col>
    </el-row>
    <el-row type="flex" justify="space-between" align="top" :gutter="20" style="flex-wrap: wrap;">
      <el-col :md="12">
        <el-card class="m-b">
          <div slot="header" class="clearfix">
            <h3 class="m-0">Network Stats</h3>
          </div>
          <div>
            <el-row type="flex" class="account-stats">
              <el-col :md="8" class="t-c">
                <!-- <i class="fab fa-ethereum"></i> -->
                <h2 class="m-0">{{gas_price}} Gwei</h2>
                <p class="m-0">Gas Price</p>
              </el-col>
              <el-col :md="8" class="t-c">
              <!-- <i class="fab fa-bitcoin"></i> -->
                <h2 class="m-0">{{gas_price_safelow}} Gwei</h2>
                <p class="m-0">Gas Price SafeLow</p>
              </el-col>
              <el-col :md="8" class="t-c">
              <!-- <i class="fas fa-dollar-sign"></i> -->
                <h2 class="m-0">{{gas_median_wait}} sec</h2>
                <p class="m-0">Median Wait</p>
              </el-col>
            </el-row>
          </div>
        </el-card>
        <el-card class="m-b">
          <div slot="header" class="clearfix">
            <h3 class="m-0">Account Stats</h3>
          </div>
          <div>
            <el-row type="flex" class="account-stats">
              <el-col :md="8" class="t-c">
                <i class="fab fa-ethereum"></i>
                <h2 class="m-0">{{balance | toEther}} ETH</h2>
                <p class="m-0">Ethereums</p>
              </el-col>
              <el-col :md="8" class="t-c">
              <i class="fab fa-bitcoin"></i>
                <h2 class="m-0">{{btc_balance}} BTC</h2>
                <p class="m-0">In Bitcoins</p>
              </el-col>
              <el-col :md="8" class="t-c">
              <i class="fas fa-dollar-sign"></i>
                <h2 class="m-0">{{usd_balance}} USD</h2>
                <p class="m-0">In Dollars</p>
              </el-col>
            </el-row>
          </div>
        </el-card>
        <el-card class="m-b-2">
          <div slot="header" class="clearfix">
            <h3 class="m-0">Application Quick Start</h3>
          </div>
          <div class="p">
            <el-row type="flex" justify="center" :gutter="24" class="account-stats applications" v-if="applications.length">
              <el-col :md="8" class="app t-c" v-for="(application, index) in applications" :key="index" @click.native="openApplication(application.url)">
                <img :src="application.image ? getImage(application.image) : placeholder_img">
                <p>{{application.name}}</p>
              </el-col>
            </el-row>
            <p v-if="!applications.length" class="t-c m-0">No applications found.</p>
          </div>
        </el-card>
      </el-col>
      <el-col :md="12">
        <el-card class="m-b">
          <div slot="header" class="clearfix">
            <h3 class="m-0">QR Code</h3>
          </div>
          <div class="t-c m">
            <!-- <img src="../../assets/qr-code.png"> -->
            <vue-qr :text="this.address" height="250" width="250"></vue-qr>
            <p>Address: {{address}}</p>
          </div>
        </el-card>
        <el-card class="m-b-2">
          <div slot="header" class="clearfix">
            <h3 class="m-0">Deployed Contracts</h3>
          </div>
          <el-table v-if="contracts.length"
            :data="contracts"
            style="width: 100%">
            <el-table-column
              prop="address"
              label="Address">
            </el-table-column>
            <el-table-column
              label="Balance"
              width="120">
              <template slot-scope="scope">
                {{scope.row.balance | toEther}}
              </template>
            </el-table-column>
            <el-table-column
              label=""
              width="120">
              <template slot-scope="scope">
                <el-button size="small" type="plain" @click="viewContract(scope.row.address)">View</el-button>
              </template>
            </el-table-column>
          </el-table>
          <p v-if="!contracts.length" class="t-c m-0 p">No deployed contracts found.</p>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import VueQr from 'vue-qr'
import web3Service from '@/services/Web3Service'
import statsService from '@/services/StatService'
import resourceService from '@/services/ResourceService'
import toEther from '@/filters/toEther'
export default {
  data: function () {
    return {
      address: '',
      balance: 0,
      transactions: [],
      status: {
        0: 'Failed',
        1: 'Success',
        2: 'Pending'
      },
      contracts: [],
      applications: [],
      stats: statsService,
      api_url: process.env.API_URL,
      placeholder_img: require('@/assets/placeholder.png')
    }
  },
  computed: {
    btc_balance: function () {
      let btcPrice = parseFloat(this.stats.eth_btc)
      let ethers = toEther(this.balance, 'ether')
      return (btcPrice * ethers).toFixed(2)
    },
    usd_balance: function () {
      let usdPrice = parseFloat(this.stats.eth_usd)
      let ethers = toEther(this.balance, 'ether')
      return (usdPrice * ethers).toFixed(2)
    },
    gas_price: function () {
      return this.stats.gas_price
    },
    gas_price_safelow: function () {
      return this.stats.gas_price_safelow
    },
    gas_median_wait: function () {
      return this.stats.gas_median_wait
    },
    highest_block: function () {
      return this.stats.highest_block
    },
    hash_rate: function () {
      return this.stats.hash_rate
    },
    tps: function () {
      return this.stats.tps
    },
    uncle_rate: function () {
      return this.stats.uncle_rate
    }
  },
  components: {
    VueQr
  },
  mounted: function () {
    web3Service.getAccounts().then(address => {
      if (address) {
        this.address = address
        this.getAccountInfo()
      }
    }, error => {
      console.log('Error', error)
    })
    this.getApplications()
    this.getDeployedContracts()
  },
  methods: {
    getAccountInfo: function () {
      this.getBalance()
    },
    getBalance: function () {
      web3Service.getBalance(this.address).then((balance) => {
        this.balance = balance
      })
    },
    getImage: function (imgUrl) {
      return this.api_url + imgUrl
    },
    viewTransaction: function (hash) {
      web3Service.openLink('https://rinkeby.etherscan.io/tx/' + hash)
    },
    getApplications: function () {
      resourceService.getAll('application', {limit: 3}).then(resp => {
        this.applications = resp.data
      })
    },
    getDeployedContracts: function () {
      resourceService.getAll('contract', {deploy_type: 'app', limit: 3}).then(resp => {
        this.contracts = resp.data
      })
    },
    viewContract: function (address) {
      web3Service.openLink('https://rinkeby.etherscan.io/address/' + address)
    },
    openApplication: function (url) {
      web3Service.openLink(url)
    }
  }
}
</script>

<style lang="scss">
.dashboard-page {
  .stats {
    .stat {
      .el-card {
        position: relative;
        color: white;

        i {
          position: absolute;
          right: 1rem;
          font-size: 3.5rem;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .stat:nth-child(1) .el-card {
      background: linear-gradient(to right, #56bfc3, #74d5e4);
    }

    .stat:nth-child(2) .el-card {
      background: linear-gradient(to right, #f7a151, #fab660);
    }

    .stat:nth-child(3) .el-card {
      background: linear-gradient(to right, #ea638c, #ed67a0);
    }

    .stat:nth-child(4) .el-card {
      background: linear-gradient(to right, #be6fe6, #6d85db);
    }
  }

  .applications {
    .app {
      cursor: pointer;
      img {
        width: 6rem;
        border-radius: 50%;
        height: 6rem;
        object-fit: cover;
      }
      p { margin: 0; }
    }
  }

  .account-stats {
    i {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    > *:not(:last-child) {
      border-right: 1px solid #ebeef5;
    }
  }
}
</style>
