<template>
  <div class="wallet-info">
    <el-row type="flex" class='header-row'>
      <vue-qr :text="address" class="image"></vue-qr>
      <div class="m-b-2">
        <h2 class="m-0">Wallet Info</h2>
        <p class="m-0">
          <span class="m-r-2">Address: {{address}}</span>
          <span>Balance: {{balance | toEther}} ETH</span>
        </p>
      </div>
    </el-row>

    <!-- <el-row type="flex" justify="space-between" :gutter="20" class="m-b">
      <el-col :md="12" class="stat">
        <el-card>
          <h4 class="uppercase m-0">Address</h4>
          <h2 class="m-t m-b-0 t-ellipsis">{{address}}</h2>
        </el-card>
      </el-col>
      <el-col :md="12" class="stat">
        <el-card>
          <h4 class="uppercase m-0">Balance</h4>
          <h2 class="m-t m-b-0">{{balance | toEther}} ETH</h2>
        </el-card>
      </el-col>
      <el-col :md="12" class="stat">
        <el-card>
          <h4 class="uppercase m-0">Sent Transactions</h4>
          <h2 class="m-t m-b-0">{{transaction_count}}</h2>
        </el-card>
      </el-col>
    </el-row> -->

    <el-card class="m-b table">
      <el-button type="primary" class="refresh-btn p-l-2 p-r-2" round @click="refreshTransactions" v-if="!loading">
        Refresh <i class="fas fa-sync-alt"></i>
      </el-button>
      <div v-loading="loading">
        <el-table
          :data="transactions"
          style="width: 100%">
          <el-table-column
            label="" width="80">
            <template slot-scope="scope">
              <span class="status">
                <i class="far fa-times-circle error" v-if="scope.row.txreceipt_status == 0"></i>
                <i class="far fa-check-circle success" v-if="scope.row.txreceipt_status == 1"></i>
                <i class="far fa-circle" v-if="scope.row.txreceipt_status == 2"></i>
              </span>
            </template>
          </el-table-column>
          <el-table-column
            label="Transaction">
            <template slot-scope="scope">
              <span v-if="scope.row.contractAddress">
                <h4 class="m-0">Contract Created</h4>
                {{scope.row.contractAddress}}
              </span>
              <span v-else-if="scope.row.from.toLowerCase() == address.toLowerCase()">
                <h4 class="m-0">Sent To</h4>
                {{scope.row.to}}
              </span>
              <span v-else-if="scope.row.to.toLowerCase() == address.toLowerCase()">
                <h4 class="m-0">Recieved From</h4>
                {{scope.row.from}}
              </span>
            </template>
          </el-table-column>
          <el-table-column
            label="Amount"
            width="150">
            <template slot-scope="scope">
              {{scope.row.value | toEther}}
            </template>
          </el-table-column>
          <el-table-column
            label="Status"
            width="150">
            <template slot-scope="scope">
              {{status[scope.row.txreceipt_status]}}
            </template>
          </el-table-column>
          <el-table-column
            label="Date" width="300">
            <template slot-scope="scope">
              {{scope.row.timeStamp | toDate}}
            </template>
          </el-table-column>
          <el-table-column
            label="" width="150">
            <template slot-scope="scope">
              <el-button type="plain" class="action-button f-r" size="small" @click="viewTransaction(scope.row.hash)">
                <i class="far fa-eye"></i>
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </el-card>
  </div>
</template>

<script>
import VueQr from 'vue-qr'
import web3Service from '@/services/Web3Service'
import StatsService from '@/services/StatService'
export default {
  data: function () {
    return {
      address: '',
      balance: 0,
      transaction_count: 0,
      transactions: [],
      loading: false,
      status: {
        0: 'Failed',
        1: 'Success',
        2: 'Pending'
      }
    }
  },
  components: {
    VueQr
  },
  mounted: function () {
    web3Service.getAccounts().then(address => {
      if (address) {
        this.address = address
        this.getAccountInfo()
      }
    }, error => {
      console.log('Error', error)
    })
  },
  methods: {
    getAccountInfo: function () {
      this.getBalance()
      this.getTransactionCount()
      this.getTransactions()
    },
    getBalance: function () {
      web3Service.getBalance(this.address).then((balance) => {
        this.balance = balance
      })
    },
    getTransactionCount: function () {
      web3Service.getTransactionsCount(this.address).then((count) => {
        this.transaction_count = count
      })
    },
    getTransactions: function () {
      this.loading = true
      StatsService.getTransactions(this.address).then(transactions => {
        this.transactions = transactions
        this.loading = false
      }, error => {
        this.loading = false
        console.log(error)
      })
    },
    refreshTransactions: function () {
      if (this.address && this.address.length) {
        this.transactions = []
        this.getAccountInfo()
      }
    },
    viewTransaction: function (hash) {
      web3Service.openLink('https://rinkeby.etherscan.io/tx/' + hash)
    }
  }
}
</script>

<style lang="scss">
.wallet-info {
  .header-row {
    .image {
      height: 4rem;
      width: 4rem;
      margin-right: 12px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .el-card {
    position: relative;

    .refresh-btn {
      position: absolute;
      right: 1.25rem;
      top: 1.25rem;
      z-index: 1;
    }
  }
}
</style>
