<template>
  <div class="interact-page">
    <div class="">
      <el-card class="padded">
        <h2 class="header">Interact with Contract</h2>
        <el-form ref="form" :rules="rules" :model="contract" :label-position="'top'">
          <el-row type="flex" :gutter="20" align="middle">
            <el-col :md="11">
              <el-form-item prop="address" label="Contract Address">
                <el-input type="text" placeholder="0x0000000000000000000000000000000000000000" v-model="contract.address" @input="contractUpdated"></el-input>
              </el-form-item>
            </el-col>
            <el-col :md="2" class="t-c"><b>OR</b></el-col>
            <el-col :md="11">
              <el-form-item label="Select Existing Contract">
                <el-select v-model="selected" @change="getContractDetails" style="width: 100%;" placeholder="Select Contract">
                  <el-option
                    v-for="(item, index) in contracts"
                    :key="index"
                    :label="item.address"
                    :value="item._id">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-form-item prop="abi" label="Contract ABI/JSON Interface">
            <el-input
              type="textarea"
              :autosize="{ minRows: 4, maxRows: 8}"
              placeholder='[{ "type":"contructor", "inputs": [{ "name":"param1", "type":"uint256", "indexed":true }], "name":"Event" }, { "type":"function", "inputs": [{"name":"a", "type":"uint256"}], "name":"foo", "outputs": [] }]' v-model="contract.abi" @input="contractUpdated">
            </el-input>
          </el-form-item>
          <el-form-item></el-form-item>
          <el-row type="flex" justify="end">
            <el-button type="secondary" round @click="getContractMethods">Access Contract</el-button>
          </el-row>
        </el-form>
      </el-card>

      <el-row type="flex" :gutter="15" class="m-t m-b" v-if="contractMethods && contractMethods.length">
        <el-col :md="12">
          <el-card class="padded">
            <el-row type="flex" align="middle" justify="space-between">
              <div>
                <h3 class="m-t m-b-0">Read / Write Contract</h3>
                <p class="m-t-0 m-b-1">{{contract.address}}</p>
              </div>
              <el-button type="primary" @click="saveContract" v-if='!contract._id'>Save Contract</el-button>
              <el-button type="info" v-if='contract._id'>Saved</el-button>
            </el-row>
            <el-form :model="method" ref="methodForm" :label-position="'top'">
              <el-row :gutter="24">
                <el-col :md="24">
                  <el-form-item label="Contract Methods">
                    <el-select class="full-width" v-model="method.name" @change="onMethodChange" placeholder="Select Contract Method">
                      <el-option
                        v-for="(item, index) in contractMethods"
                        :key="index"
                        :label="item.name"
                        :value="item.name">
                      </el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>

              <el-row type="flex" :gutter="24" class="flex-wrap">
                <el-col :md="24" v-for="(next_input, index) in method.inputs" :key="index">
                  <el-form-item class="uppercase" :label="next_input.name.length ? (next_input.name + ' - ' + next_input.type)  : next_input.type" required>
                    <el-input type="text" v-model="next_input.value" required></el-input>
                  </el-form-item>
                </el-col>
              </el-row>

              <el-button type="primary" @click="performTransaction" v-if="method.name && method.stateMutability!=='view'" v-loading="loading">Perform Transaction</el-button>
            </el-form>
          </el-card>
        </el-col>
        <el-col :md="12">
          <el-card class="padded">
            <h3 class="m-t m-b-0">Contract Output</h3>
            <p class="m-t-0 m-b-1 capitalize">Method: {{method.name || 'Not selected'}}</p>

            <p v-if="!method.outputs || !method.outputs.length">No output found.</p>
            <el-row type="flex" :gutter="24" class="flex-wrap" v-if="method.outputs && method.outputs.length">
              <el-col :md="24" v-for="(next_output, index) in method.outputs" :key="index" class="m-b">
                <p class="uppercase m-b">{{next_output.name.length ? (next_output.name + ' - ' + next_output.type)  : next_output.type}}</p>
                <el-input type="text" v-model="next_output.result" readonly></el-input>
              </el-col>
            </el-row>
          </el-card>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import web3Service from '@/services/Web3Service'
import resourceService from '@/services/ResourceService'

export default {
  name: 'ContractsPage',
  data: function () {
    return {
      address: null,
      contract: {
        address: '',
        abi: ''
      },
      contractInstance: null,
      contractMethods: [],
      contracts: [],
      selected: '',
      selected_contract: {},
      method: {},
      check_output: false,
      loading: false,
      rules: {
        address: {
          required: true,
          message: 'Contract address is required'
        },
        abi: {
          required: true,
          message: 'Contract ABI/JSON is required'
        }
      }
    }
  },
  mounted: function () {
    web3Service.getAccounts().then(address => {
      this.address = address || null
    })
    this.getExistingContracts()
  },
  methods: {
    getExistingContracts: function () {
      resourceService.getAll('contract').then(resp => {
        this.contracts = resp.data
      })
    },
    getContractDetails: function () {
      this.contractMethods = []
      this.method = {}

      this.selected_contract = this.contracts.find((contract) => { return contract._id === this.selected })
      // console.log(this.selected_contract)

      // web3Service.readData(this.selected_contract._id).then((data) => {
      //   this.contract.address = this.selected_contract.address
      //   this.contract.abi = data
      // })
      this.contract = this.selected_contract
      this.contract.abi = JSON.parse(this.contract.abi)
    },
    getContractMethods: function () {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          this.contractInstance = web3Service.getContractInstance(this.contract, this.address)
          this.contractMethods = web3Service.getContractMethods(this.contract.abi)
        }
      })
    },
    contractUpdated: function () {
      this.contractMethods = []
      this.method = {}
    },
    onMethodChange: function () {
      this.check_output = false
      this.method.inputs = []
      this.method.outputs = []

      let method = this.contractMethods.find((m) => { return m.name === this.method.name })
      if (method) {
        this.method.stateMutability = method.stateMutability
        this.method.inputs = method.inputs

        let outputs = method.outputs
        for (var i = 0; i < outputs.length; i++) {
          this.$set(outputs[0], 'result', null)
        }

        this.method.outputs = outputs
      }

      if (this.method.stateMutability === 'view') {
        this.performTransaction(false)
      }
    },
    performTransaction: function (hasInputs = true) {
      this.loading = true
      web3Service.callContractMethod(this.contract, { ...this.method }, this.address).then(resp => {
        if (this.method.outputs.length) {
          if (!Array.isArray(resp)) {
            this.method.outputs[0].result = resp
          } else {
            for (var i = 0; i < resp.length; i++) {
              this.method.outputs[i].result = resp[i]
            }
          }
        }

        if (hasInputs) {
          this.showSuccess('Transaction successfull')
        }

        this.check_output = true
        this.loading = false
      }, error => {
        this.loading = false
        console.log(error)
        if (hasInputs) {
          this.showError('Transaction failed. Please try again.')
        }
      })
    },
    saveContract: function () {
      resourceService.addResource('contract', {
        address: this.contract.address,
        abi: JSON.stringify(this.contract.abi)
      }).then(resp => {
        // this.saveContractABI(resp)
        this.contract = resp
        this.contract.abi = JSON.parse(resp.abi)
      }, error => {
        this.deploying = false
        console.log(error)
        // this.showError(error)
      })
    }
  }
}
</script>
<style lang="scss">
.interact-page {
  /* max-width: 700px;
  margin: auto; */

  .el-card {
    padding: 2rem 3rem;
  }
}
</style>
