<template>
  <div class="profile-page">
    <!-- <el-row class="page-header">
      <h2 class="t-c">My Profile</h2>
    </el-row> -->

    <el-card class="padded m-t-2">
      <h2 class="header">My Profile</h2>
      <el-form :model="user" ref="form" :rules="rules" label-position="top">
        <el-form-item label="Name" prop="name">
          <el-input type="text" v-model="user.name" placeholder="Enter your name"></el-input>
        </el-form-item>
        <el-form-item label="Email" prop="email">
          <el-input type="email" v-model="user.email" placeholder="Enter your email"></el-input>
        </el-form-item>
        <el-form-item label="Change Password" v-if="password_change" required>
          <el-row type="flex" :gutter="20">
            <el-col :md="12">
              <el-form-item prop="current_password">
                <el-input type="password" v-model="user.current_password" placeholder="Enter current password"></el-input>
              </el-form-item>
            </el-col>
            <el-col :md="12">
              <el-form-item prop="new_password">
                <el-input type="password" v-model="user.new_password" placeholder="Enter new password"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form-item>
        <el-row type="flex" :justify="password_change ? 'end': 'space-between'">
          <el-button type="secondary" round @click="changePassword" v-if='!password_change'>Change Password</el-button>
          <div>
            <el-button type="plain" round @click="onBack">Cancel</el-button>
            <el-button type="primary" round @click="onSubmit" id="submit-button">Save Changes</el-button>
          </div>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import userService from '@/services/UserService'
export default {
  name: 'ProfilePage',
  data: function () {
    return {
      user: {},
      password_change: false,
      rules: {
        name: {
          required: true,
          message: 'Name is required'
        },
        email: [
          {
            required: true,
            message: 'Email is required'
          },
          {
            pattern: /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/,
            message: 'Invalid email address'
          }
        ],
        new_password: [
          {
            required: true,
            message: 'Current password is required'
          },
          {
            min: 6,
            message: 'Password should be atleast 6 characters in length'
          },
          {
            pattern: /^[^\s]+$/,
            message: 'Password may not contain spaces.'
          }
        ],
        current_password: [
          {
            required: true,
            message: 'Current password is required'
          }
        ]
      }
    }
  },
  mounted: function () {
    this.user = userService.user
  },
  methods: {
    changePassword: function () {
      this.password_change = true
    },
    onBack: function () {
      this.$router.push('/dashboard/index')
    },
    onSubmit: function () {
      this.$refs['form'].validate(valid => {
        if (valid) {
          let user = {...this.user}

          userService.updateUser(user, {
            show_loading: true,
            fullscreen: false,
            target: '#submit-button'
          }).then((resp) => {
            if (resp) {
              this.showSuccess('Profile updated successfully')
            }
          })
        }
      })
    }
  }
}
</script>

<style lang="scss">
.profile-page {
  max-width: 700px;
  margin: auto;

  .el-card {
    padding: 2rem 3rem;
  }
}
</style>
