<template>
  <div class="transfer-ether">
    <el-card class="padded m-t-2">
      <h2 class="header">Transfer Ether</h2>
      <el-form ref="form" :rules="rules" :model="transaction">
        <el-form-item label="Select Existing Address">
          <el-select prop="existing_address" class="full-width" v-model="selected_address" @change="onAddressChange" placeholder="Select Existing Address">
            <el-option v-for="(next_addr, index) in addresses" :key="index" :value="next_addr._id" :label="next_addr.name"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item prop="to" label="Send To">
          <el-input type="text" placeholder="0x0000000000000000000000000000000000000000" v-model="transaction.to"></el-input>
        </el-form-item>
        <el-form-item prop="value" label="Amount">
          <el-input type="number" placeholder="10" v-model="transaction.value" min="0">
            <template slot="append">ETH</template>
          </el-input>
        </el-form-item>
        <el-form-item></el-form-item>
        <el-row type="flex" justify="end">
          <el-button type="secondary" round @click="performTransfer" v-loading="loading">Perform Transaction</el-button>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import web3Service from '@/services/Web3Service'
import resourceService from '@/services/ResourceService'

export default {
  name: 'TransferEther',
  data: function () {
    return {
      loading: false,
      address: null,
      selected_address: null,
      addresses: [],
      transaction: {},
      rules: {
        to: {
          required: true,
          message: 'Recieving address is required',
          trigger: 'blur'
        },
        value: {
          required: true,
          message: 'Amount is required',
          trigger: 'blur'
        }
      }
    }
  },
  mounted: function () {
    web3Service.getAccounts().then(address => {
      this.address = address || null
    })
    this.getAddresses()
  },
  methods: {
    getAddresses: function () {
      resourceService.getAll('address', null, {
        show_loading: true,
        fullscreen: true,
        target: '#page-content'
      }).then(resp => {
        this.addresses = resp.data
      })
    },
    onAddressChange: function () {
      let address = this.addresses.find((addr) => { return addr._id === this.selected_address })
      this.transaction.to = address.address
    },
    performTransfer: function () {
      let ctx = this
      this.$refs['form'].validate((valid) => {
        if (valid && this.address) {
          let transaction = { ...ctx.transaction }

          transaction.from = ctx.address
          transaction.value = window.web3.toWei(transaction.value, 'ether')

          this.loading = true
          web3Service.sendTransaction(transaction).then(resp => {
            if (resp) {
              this.$notify({
                title: 'Success',
                message: 'Transaction successfull',
                type: 'success'
              })
              this.transaction = {}
            }
            this.loading = false
            this.$refs['form'].resetFields()
          }, error => {
            this.loading = false
            console.log('Error', error)
          })
        }
      })
    }
  }
}
</script>

<style lang="scss">
.transfer-ether {
  max-width: 700px;
  margin: auto;

  .el-card {
    padding: 2rem 3rem;
  }
}
</style>
