<template>
  <div class="company-members-page">
    <div class="container">
      <el-row type="flex" align="middle" justify="space-between" class="m-b">
        <h2 class="m-0 header">Members</h2>
        <div>
          <el-button type="secondary" round @click="giveAccess" :disabled="loading || !showAccessButton">
            Give Access
          </el-button>
          <el-button type="danger" round @click="revokeAccess" :disabled="loading || !showRevokeButton">
            Revoke Access
          </el-button>
          <el-button type="primary" round @click="openAddMemberDialog">
            Add New Member
            <i class="el-icon-plus"></i>
          </el-button>
        </div>
      </el-row>
      <el-card class="m-b table">
        <div v-loading="loading">
          <el-table
            ref="table"
            :data="members"
            @selection-change="handleSelection">
            <el-table-column
              type="selection"
              width="55">
            </el-table-column>
            <el-table-column
              label="Address"
              width="450"
              >
              <template slot-scope="scope">
                {{scope.row.address}}
              </template>
            </el-table-column>
            <el-table-column
              label="Name"
              width="300">
              <template slot-scope="scope">
                {{scope.row.name}}
              </template>
            </el-table-column>
            <el-table-column
              label="Added"
              width="300">
              <template slot-scope="scope">
                {{getDate(scope.row.created_at) | toDate}}
              </template>
            </el-table-column>
            <el-table-column
              label="Access"
              width="120">
              <template slot-scope="scope">
                <div class="t-c">
                  <i class="el-icon-check success" v-if="scope.row.access"></i>
                  <i class="el-icon-close error" v-if="!scope.row.access"></i>
                </div>
              </template>
            </el-table-column>
            <el-table-column
              label="" >
              <template slot-scope="scope">
                <el-button type="plain" class="action-button f-r" size="small" @click="deleteMember(scope.row)" :disabled="(selected_members.length > 0)">
                  <i class="far fa-trash-alt"></i>
                </el-button>
                <el-button type="plain" class="action-button f-r" size="small" :disabled="scope.row.access || (selected_members.length > 0)" @click="openAddMemberDialog(scope.row._id)">
                  <i class="far fa-edit"></i>
                </el-button>
                <!-- <el-tag type="success" v-if="scope.row.access" class="f-r">Access</el-tag> -->
              </template>
            </el-table-column>
          </el-table>
        </div>
      </el-card>
    </div>
    <addmember :memberId="current_member" :dialogVisible="dialogVisible" @close="onDialogClose"></addmember>
  </div>
</template>

<script>
import AddMemberDialog from '@/components/AddMemberDialog'
import tokenService from '@/services/tokenService'
import saleService from '@/services/salesService'

export default {
  name: 'CompanyMembersPage',
  components: {
    addmember: AddMemberDialog
  },
  data: function () {
    return {
      dialogVisible: false,
      company: {},
      members: [],
      current_member: null,
      selected_members: [],
      showRevokeButton: false,
      showAccessButton: false,
      loading: false,
      whitelistedAddress: [],
      allowed_members: 0
    }
  },
  watch: {
    '$store.getters.company': function (newVal) {
      this.company = newVal
      this.init()
    }
  },
  mounted: function () {
    if (this.$route.params.id) {
      this.company = this.$store.getters.company
      this.init()
    }
  },
  methods: {
    init: function () {
      this.company = this.$store.getters.company
      if (this.company && this.company.members) {
        this.members = this.company.members
      }

      if (this.company && this.company.license_id) {
        this.checkCompanyOwner(this.company.license_id)
        this.getAllowedMembers()
        tokenService.getWhitelistedMembers(this.company.license_id).then(addresses => {
          if (this.company.members && this.company.members.length) {
            this.setMembersAccess(addresses, true)
          }
        })
      }
    },
    checkCompanyOwner: function (licenseId) {
      tokenService.checkCompanyOwner(licenseId).then(isOwner => {
        this.$set(this.company, 'is_owner', isOwner)
        this.$store.commit('setCompany', this.company)
      })
    },
    getDate: function (date) {
      date = Date.parse(date)
      date = new Date(date)

      var offset = date.getTimezoneOffset() / 60;
      var hours = date.getHours();
      date.setHours(hours - offset)

      return Date.parse(date)/1000
    },
    handleSelection: function (val) {
      this.selected_members = val
      this.selected_members.find((member) => {
        if (member.access) {
          this.showRevokeButton = true
        }
        else if (!member.access) {
          this.showAccessButton = true
        }
      })

      if (!val.length) {
        this.showAccessButton = this.showRevokeButton = false
      }
    },
    giveAccess: function () {
      if (!this.company.license_id) {
        this.showError('You need company license to add/rovoke member access')
        return
      }
      
      if (!this.company.is_owner) {
        this.showError('Your current address is not owner of this company')
        return
      }
      
      this.selected_members = this.selected_members.filter((member) => { return !member.access })
      let addresses = this.selected_members.map(member => member.address)

      let licensed_members = this.members.filter(member => member.access === true)
      if ((licensed_members.length + addresses.length) > this.allowed_members ) {
        this.showError(`You can only allow ${this.allowed_members} members to access license`)
        return
      }

      this.loading = true
      saleService.addWhitelistedMembers(this.company.license_id, addresses).then(resp => {
        this.setMembersAccess(addresses, true)
        // this.getWhitelistedAddresses(this.company.license_id)
        this.showSuccess('License access granted succesfully')
        this.loading = false
      }).catch(error => {
        console.log(error)
        this.showError('Some error in granting license access. Please try again.')
        this.loading = false
      })
    },
    revokeAccess: function () {
      if (!this.company.license_id) {
        this.showError('You need company license to add/rovoke member access')
        return
      }

      if (!this.company.is_owner) {
        this.showError('Your current address is not owner of this company')
        return
      }

      this.loading = true
      this.selected_members = this.selected_members.filter((member) => { return member.access })
      let addresses = this.selected_members.map(member => member.address)

      saleService.removeWhitelistedMembers(this.company.license_id, addresses).then(resp => {
        this.setMembersAccess(addresses, false)
        // this.getWhitelistedAddresses(this.company.license_id)
        this.showSuccess('License access revoked successfully')
        this.loading = false
      }).catch(error => {
        console.log(error)
        this.showError('Some error in revoking license access. Please try again.')
        this.loading = false
      })
    },
    onDialogClose: function () {
      this.dialogVisible = false
      this.current_member = null
      this.init()
    },
    openAddMemberDialog: function (memberId) {
      this.dialogVisible = true
      this.current_member = memberId
    },
    deleteMember: function (member) {
      let message = ''
      if (member.access) {
        message = 'Are you sure you want to remove access of this member and delete?'
      }
      this.confirmDelete(message).then(() => {
        if (member.access) {
          if (!this.company.is_owner) {
            this.showError('Your current address is not owner of this company')
            return
          }
          this.loading = true
          saleService.removeWhitelistedMembers(this.company.license_id, [ member.address ]).then(resp => {
            this.removeMemberFromCompany(member._id)
          }).catch(error => {
            console.log(error)
            this.loading = false
          })
        } else {
          this.removeMemberFromCompany(member._id)
        }
      }, () => {})
    },
    removeMemberFromCompany: function (memberId) {
      this.loading = true
      this.$store.dispatch('deleteCompanyMember', memberId).then(() => {
        this.showSuccess('Member removed')
        this.init()
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },
    setMembersAccess: function(addresses, access) {
      for (var i = 0; i < addresses.length; i++) {
        addresses[i] = addresses[i].toLowerCase()
      }

      for (var j = 0; j < this.members.length; j++) {
        if (addresses.indexOf(this.members[j].address) > -1) {
          this.$set(this.members[j], 'access', access)
        }
      }
      this.$refs['table'].clearSelection()
    },
    getAllowedMembers: function () {
      tokenService.getMembersAllowed().then(resp => {
        if (resp) {
          this.allowed_members = parseInt(resp)
        }
      })
    }
  },
  watch: {
    '$store.getters.company': function () {
      this.init()
    }
  }
}
</script>
<style lang="scss">
.company-members-page {
  margin: auto;
  

  .el-card {
    padding: 2rem 3rem;
  }

  .el-icon-check.success {
    font-weight: bolder;
    color: #8bc34a;
  }

  .el-icon-close.error {
    font-weight: bolder;
    color: red;
  }
}
</style>