<ion-header>
  <ion-navbar>
    <ion-title>
      Select Company
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list class="data-list" *ngIf="companies && companies.length">
    <button ion-item class="item-ios " *ngFor="let company of companies" (click)="didTapCompany(company)">
      <ion-avatar item-start>
        <img [src]="company.logo ? API_URL + company.logo : 'assets/imgs/FreightTrust-logo-09.png'">
      </ion-avatar>
      <h2>{{ company.name }}</h2>
      <p>{{ company.email }}</p>
    </button>  
  </ion-list>
  <div *ngIf="!companies || !companies.length">
    <p>It looks like you are not registered in any company yet. Ask company owner to register you as a member into company and grant you access to company's freight trust license.</p>
  </div>
</ion-content>
