<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Bill Details
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="details" *ngIf="bill && bill._id">
    <p>This is bill of lading created by test. Check all details and sign at the bottom of bill to confirm.</p>
    <ion-card class="person-info">
      <ion-card-header>
        <h1>Company Details</h1>
      </ion-card-header>
      <ion-card-content>
        <ion-row *ngIf="bill && bill.company">
          <ion-col col-8>
            <ion-list>
              <ion-item>
                <h2>Top Movers</h2>
              </ion-item>
              <ion-item>
                {{bill.company.website}}
                <ion-icon name="globe" item-start></ion-icon>
              </ion-item>
              <ion-item>
                  <h2>{{bill.company.email}}</h2>
                <ion-icon name="mail" item-start></ion-icon>
              </ion-item>
              <ion-item>
                  {{bill.shipper.phone}}
                <ion-icon name="call" item-start></ion-icon>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col col-4>
            <ion-avatar float-right>
              <img class="avatar" [src]="bill.company.logo ? API_URL + bill.company.logo : 'assets/imgs/FreightTrust-logo-09.png'">
            </ion-avatar>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-row>
      <ion-col col-md-7 col-sm-12>
        <ion-card>
          <ion-card-header>
            <h1>Items</h1>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let item of bill.items">
                <ion-row>
                  <ion-col col-md-8 col-sm-12>
                    {{item.name}}
                  </ion-col>
                  <ion-col class="t-r" col-md-4 col-sm-12>
                    <ion-badge margin-right>{{item.quantity}} items</ion-badge>
                    <ion-badge>{{item.weight}} / item</ion-badge>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col class="t-l" col-6>
                <div *ngIf="bill && bill.carrier_signature">
                  <img [src]="bill.carrier_signature">
                </div>
                <h2>Carrier Signature</h2>
              </ion-col>
              <ion-col class="t-r" col-6>
                <div *ngIf="bill && !bill.shipper_signature">
                  <signature-pad [options]="signaturePadOptions" (onEndEvent)="drawComplete()"></signature-pad>
                </div>
                <div *ngIf="bill && bill.shipper_signature">
                  <img [src]="bill.shipper_signature">
                </div>
                <h2>Shipper Signature</h2>
              </ion-col>
            </ion-row>
            <div class="t-r" *ngIf="bill && !bill.shipper_signature">
              <button ion-button  color="primary" (click)="clear()">Clear</button>
              <button ion-button (click)="confirm()" color="primary">Confirm</button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-md-5 col-sm-12>
        <ion-card class="person-info">
          <ion-card-header>
            <h1>Shipper</h1>
          </ion-card-header>
          <ion-card-content *ngIf="bill && bill.shipper">
            <ion-list>
              <ion-item>
                  <h2>{{bill.shipper.name}}</h2>
                <ion-icon name="person" item-start></ion-icon>
              </ion-item>
              <ion-item>
                  <h2>{{bill.shipper.email}}</h2>
                <ion-icon name="mail" item-start></ion-icon>
              </ion-item>
              <ion-item>
                  {{bill.shipper.phone}}
                <ion-icon name="call" item-start></ion-icon>
              </ion-item>
              <ion-item>
                  {{bill.shipper.address}} {{bill.shipper.city}} {{bill.shipper.state}} {{bill.shipper.zip}}
                <ion-icon name="pin" item-start></ion-icon>
              </ion-item>
            </ion-list>
            <!-- <div>
              <h3>Sign here</h3>
              <div *ngIf="bill && !bill.shipper_signature">
                <signature-pad [options]="signaturePadOptions" (onEndEvent)="drawComplete()"></signature-pad>
              </div>
              <div *ngIf="bill && bill.shipper_signature">
                <img [src]="bill.shipper_signature">
              </div>
              <ion-row align-items-center justify-space-between *ngIf="bill && bill.status!='shipper_signed'">
                <ion-col col-6 class="t-l">
                  <button ion-button small outline color="primary" (click)="clear()">Clear</button>
                </ion-col>
                <ion-col col-6 class="t-r">
                  <button ion-button small outline (click)="confirm()" color="primary">Confirm</button>
                </ion-col>
              </ion-row>
            </div> -->
          </ion-card-content>
        </ion-card>
        <ion-card class="person-info">
          <ion-card-header>
            <h1>Consignee</h1>
          </ion-card-header>
          <ion-card-content *ngIf="bill && bill.consignee">
            <ion-list>
              <ion-item>
                  <h2>{{bill.consignee.name}}</h2>
                <ion-icon name="person" item-start></ion-icon>
              </ion-item>
              <ion-item>
                  <h2>{{bill.consignee.email}}</h2>
                <ion-icon name="person" item-start></ion-icon>
              </ion-item>
              <ion-item>
                  {{bill.consignee.phone}}
                <ion-icon name="call" item-start></ion-icon>
              </ion-item>
              <ion-item>
                  {{bill.consignee.address}} {{bill.consignee.city}} {{bill.consignee.state}} {{bill.consignee.zip}}
                <ion-icon name="pin" item-start></ion-icon>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
