page-public{
  ion-header.header{
    text-align: center;
  }
  ion-content.content {
    background-color: #f5f4f4;
    .details{
      width: 120rem;
      max-width: 90%;
      margin: auto;
      margin-top: 8rem;
    }
  }
  ion-content.content.bill-details h3{
    display: none !important;
  }
  ion-content.content.bill-details{
    width: 100rem;
    max-width: 90%;
    margin: auto;
  }
  ion-card.card{
    border: 0.55px solid #f7f7fb;
    border-radius: 8px;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.1)!important;

    ion-card-header{
      margin: 0px;
      padding: 18px 32px;
      border-bottom: 2px solid #e4e4e4;
    }
    ion-card-content{
      padding: 13px 16px !important;
    }
    ion-list.list{
      ion-item.item{
        border-bottom: 1px solid #e4e4e4;
        h2, h3{
          margin: 0px;
        }
        ion-badge.badge{
          border-radius: 4px;
          color: #488aff;
          border: 1px solid #488aff;
          background-color: #ffffff;
          padding: 6px 12px;
        }
      }
      ion-item.item:last-child{
        border-bottom: 0px;
      }
    }
  }
  ion-card.card.person-info ion-list.list ion-item.item{
    border-bottom: 0px !important;
  }
  ion-card.card.person-info ion-list.list ion-item.item .label{
    margin: 0px;
  }
  ion-card.card.person-info{
    ion-list.list{
      ion-item.item{
        ion-icon{
          font-size: 2rem;
          margin-left: 0;
          margin-top: 0px;
          margin-bottom: 0px;
    }
      }
    }
  }

  h2, h3{
          margin: 16px 0px !important;
        }
  
}